node-red/node_modules/node-red-contrib-unit-converter/examples/basic_flow.json
[{"id":"f40e9759.cf9f68","type":"unit-converter","z":"47b91ceb.38a754","category":"length","inputUnit":"in","outputUnit":"cm","inputField":"input","outputField":"output","name":"","x":871.5001640319824,"y":876.3333530426025,"wires":[["947aacdd.41bd8"]]},{"id":"94cfee26.d1a59","type":"inject","z":"47b91ceb.38a754","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"x":518.5002746582031,"y":876.6667184829712,"wires":[["5b45dc85.f76e84"]]},{"id":"947aacdd.41bd8","type":"debug","z":"47b91ceb.38a754","name":"","active":true,"console":"false","complete":"true","x":1044.5000801086426,"y":876.0000019073486,"wires":[]},{"id":"5b45dc85.f76e84","type":"change","z":"47b91ceb.38a754","name":"","rules":[{"t":"set","p":"input","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":681.5001602172852,"y":876.333384513855,"wires":[["f40e9759.cf9f68"]]}]
