node-red/node_modules/node-red-contrib-virtual-smart-home/examples/switch.json
[
  {
    "id": "5fe4b1c4.8eb04",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "on",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"powerState\":\"ON\"}",
    "payloadType": "json",
    "x": 830,
    "y": 2760,
    "wires": [["8003b75d.414958"]]
  },
  {
    "id": "7187b738.ca5778",
    "type": "inject",
    "z": "7ecdfb0b.fa7794",
    "name": "off",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"powerState\":\"OFF\"}",
    "payloadType": "json",
    "x": 830,
    "y": 2800,
    "wires": [["8003b75d.414958"]]
  },
  {
    "id": "8003b75d.414958",
    "type": "vsh-virtual-device",
    "z": "7ecdfb0b.fa7794",
    "name": "coffee maker",
    "topic": "switch/coffeemaker",
    "connection": "",
    "template": "SWITCH",
    "passthrough": true,
    "x": 1130,
    "y": 2760,
    "wires": [["f09a40da.e58f6"]]
  },
  {
    "id": "80b7c3c.dd4364",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "SWITCH",
    "info": "",
    "x": 820,
    "y": 2600,
    "wires": []
  },
  {
    "id": "f09a40da.e58f6",
    "type": "debug",
    "z": "7ecdfb0b.fa7794",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 1410,
    "y": 2760,
    "wires": []
  },
  {
    "id": "9bc6a99f.d2a648",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, turn on the coffee maker.",
    "info": "",
    "x": 930,
    "y": 2640,
    "wires": []
  },
  {
    "id": "5c89af58.821f9",
    "type": "comment",
    "z": "7ecdfb0b.fa7794",
    "name": "Alexa, turn off the coffee maker.",
    "info": "",
    "x": 930,
    "y": 2680,
    "wires": []
  }
]
