node-red/.flows.json.backup
[{"id":"5544e4706ca98521","type":"tab","label":"Victron","disabled":false,"info":"","env":[]},{"id":"8e22460d.5d4bc8","type":"tab","label":"Alexa","disabled":false,"info":""},{"id":"2923591e.104216","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"venus-ca.crt","servername":"","verifyservercert":true,"alpnprotocol":""},{"id":"45bc8be7.a4f0a4","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"404e1c1.65f5de4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8ab70b70.440a38","type":"influxdb","hostname":"a0d7b954-influxdb","port":"8086","protocol":"http","database":"ha_NodeRed","name":"ha_NodeRed","usetls":false,"tls":"2923591e.104216","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"aa489748.997028","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"temperature","name":"","influxdbVersion":"1.x"},{"id":"14487bde.9199c4","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"humidite","name":"","influxdbVersion":"1.x"},{"id":"1c38fbb7.3f203c","type":"mqtt-broker","name":"MQTT Victron","broker":"192.168.0.86","port":"1883","tls":"2923591e.104216","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"3","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"136b4827.f23048","type":"influxdb","hostname":"192.168.1.10","port":"8086","protocol":"http","database":"gameserver","name":"","usetls":false,"tls":"","influxdbVersion":"1.x"},{"id":"eeb221fb.ab27f","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"test","name":"test","usetls":true,"tls":"d50d0c9f.31e858","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"d50d0c9f.31e858","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"2ff2a476.a6d2ec","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"test 1.8 flux","usetls":false,"tls":"d50d0c9f.31e858","influxdbVersion":"1.8-flux","url":"https://localhost:8086","rejectUnauthorized":false},{"id":"9c6211cfb725ab12","type":"vsh-connection","name":"crochonremy@gmail.com","port":"8883","accessTokenExpiry":"1671180307137","debug":true,"backendUrl":"https://kfd5m4a21f.execute-api.eu-west-1.amazonaws.com/dev","lwaClientId":"amzn1.application-oa2-client.3f1bb07133854b078261ad43f2484c18"},{"id":"3e613117.408b3e","type":"server","name":"Home Assistant","version":5,"addon":false,"rejectUnauthorizedCerts":false,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"4bbca37b.1700ec","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"35ebc542aeecc309","type":"ui_tab","name":"Victron","icon":"dashboard","disabled":false,"hidden":false},{"id":"dedd34935ebbcdc1","type":"ui_group","name":"Default","tab":"35ebc542aeecc309","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"c1d025375d7da0a8","type":"ui_group","name":"Disk usage","tab":"e911cf6c5b4b89b4","order":1,"disp":true,"width":"12","collapse":true,"className":""},{"id":"e911cf6c5b4b89b4","type":"ui_tab","name":"Home","icon":"fa-disk","disabled":false,"hidden":false},{"id":"2d636f07.e0a608","type":"mqtt-broker","name":"Venus","broker":"192.168.1.10","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"10","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"b924b18a.16338","type":"ui_tab","name":"Solar Status","icon":"home","disabled":false,"hidden":false},{"id":"b40936b8.896f08","type":"ui_group","name":"Solar Status","tab":"b924b18a.16338","order":1,"disp":false,"width":"18","collapse":false},{"id":"5742199.44e7fe8","type":"ui_group","name":"Relays","tab":"cca0597e.d4ed78","order":1,"disp":true,"width":5,"collapse":false},{"id":"cca0597e.d4ed78","type":"ui_tab","name":"Configuration","icon":"build","order":2,"disabled":false,"hidden":false},{"id":"81fcd79b.de80a8","type":"ui_tab","name":"LAB","icon":"dashboard"},{"id":"a6994ae2.b5361","type":"ui_tab","name":"Home","icon":"dashboard"},{"id":"f90225cf.af00e8","type":"mqtt-broker","name":"EMON MQTT","broker":"10.64.16.10","port":"1883","clientid":"nodered-hass","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"94a12356.a4a14","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open|1","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"0aa70d5af5427c60","type":"mqtt-broker","name":"VenusOSmqtt","broker":"XXX.XXX.XXX.XXX","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"51584e3c2cfaa393","type":"alexa-smart-home-v3-conf","username":"rem81","mqttserver":"mq-red.cb-net.co.uk","webapiurl":"red.cb-net.co.uk","contextName":"memory"},{"id":"76206bdc11bd8af0","type":"mqtt out","z":"5544e4706ca98521","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1c38fbb7.3f203c","x":690,"y":200,"wires":[]},{"id":"a5f6b90183627a18","type":"inject","z":"5544e4706ca98521","name":"SOC CP0","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"W/c0619ab1db0d/settings/0/Settings/CGwacs/BatteryLife/Schedule/Charge/0/Soc","payload":"{\"value\": 65}","payloadType":"json","x":120,"y":200,"wires":[["76206bdc11bd8af0"]],"info":"{\"value\": 7}"},{"id":"78f64487024701ce","type":"debug","z":"5544e4706ca98521","name":"IB CP1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":280,"wires":[]},{"id":"57520f7ea386dbdd","type":"mqtt out","z":"5544e4706ca98521","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1c38fbb7.3f203c","x":690,"y":80,"wires":[]},{"id":"ab1d9f219b647ef3","type":"inject","z":"5544e4706ca98521","name":"Valid CP0","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"W/c0619ab1db0d/settings/0/Settings/CGwacs/BatteryLife/Schedule/Charge/0/Day","payload":"{\"value\": 7}","payloadType":"json","x":120,"y":80,"wires":[["57520f7ea386dbdd"]],"info":"{\"value\": 7}"},{"id":"6253fca74afec021","type":"mqtt out","z":"5544e4706ca98521","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1c38fbb7.3f203c","x":690,"y":140,"wires":[]},{"id":"41eb4e711ecbae9c","type":"inject","z":"5544e4706ca98521","name":"DeValid CP0","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"W/c0619ab1db0d/settings/0/Settings/CGwacs/BatteryLife/Schedule/Charge/0/Day","payload":"{\"value\": -7}","payloadType":"json","x":130,"y":140,"wires":[["6253fca74afec021"]],"info":"{\"value\": 7}"},{"id":"6ee74f5ab966b69a","type":"server-state-changed","z":"5544e4706ca98521","name":"Valid ESS MP1","server":"45bc8be7.a4f0a4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.mp2_valid_ess_charge_prog_1","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":380,"wires":[["c9662efb4e21d816"]]},{"id":"080afd12087fa185","type":"debug","z":"5544e4706ca98521","name":"CP1 ON","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":380,"wires":[]},{"id":"fad23d31bd455893","type":"debug","z":"5544e4706ca98521","name":"CP1 OFF","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":420,"wires":[]},{"id":"c9662efb4e21d816","type":"function","z":"5544e4706ca98521","name":"function 1","func":"var msg1 = { topic: \"W/c0619ab1db0d/settings/0/Settings/CGwacs/BatteryLife/Schedule/Charge/0/Day\", payload: { \"value\": 7 } };\nvar msg2 = { topic: \"W/c0619ab1db0d/settings/0/Settings/CGwacs/BatteryLife/Schedule/Charge/0/Day\", payload: { \"value\": -7 } };\nif (msg.payload === \"on\") {\n    return [msg1];\n}\n\nif (msg.payload === \"off\") {\n   return [msg2];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":380,"wires":[["57520f7ea386dbdd","080afd12087fa185"],["6253fca74afec021","fad23d31bd455893"]]},{"id":"45397e9ba0da9a9b","type":"server-state-changed","z":"5544e4706ca98521","name":"Niveau SOC CP1","server":"45bc8be7.a4f0a4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.mp2_niveau_soc_cp1","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"topic","propertyType":"msg","value":"W/c0619ab1db0d/settings/0/Settings/CGwacs/BatteryLife/Schedule/Charge/0/Soc","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"}],"x":120,"y":280,"wires":[["a9ca66afd11bac34"]]},{"id":"31015289423ab064","type":"function","z":"5544e4706ca98521","name":"function 2","func":"msg.payload = {\"value\": msg.payload} ;\nmsg.topic = \"W/c0619ab1db0d/settings/0/Settings/CGwacs/BatteryLife/Schedule/Charge/0/Soc\";\nreturn [msg];\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":280,"wires":[["78f64487024701ce","76206bdc11bd8af0"]]},{"id":"a9ca66afd11bac34","type":"change","z":"5544e4706ca98521","name":"convert","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number($$.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":280,"wires":[["31015289423ab064"]]},{"id":"8dea047bf5fe0b58","type":"debug","z":"5544e4706ca98521","name":"soc2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":500,"wires":[]},{"id":"366bc807c44c644b","type":"server-state-changed","z":"5544e4706ca98521","name":"SOC MP2","server":"45bc8be7.a4f0a4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.mp2_niveau_charge_batteries","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":480,"wires":[["8dea047bf5fe0b58"]]},{"id":"683f5e1eda028bac","type":"comment","z":"5544e4706ca98521","name":"Comment","info":"# # Devalidation ESS","x":460,"y":40,"wires":[]},{"id":"6b851733.c19458","type":"api-call-service","z":"8e22460d.5d4bc8","name":"PC Lampe Desodo","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.pc1_lidl"],"data":"{  \"entity_id\": \"switch.pc1_lidl\" }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":40,"wires":[[]]},{"id":"46261335.4a1a8c","type":"api-call-service","z":"8e22460d.5d4bc8","name":"LumiereSalon_On","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.lumiere_salon"],"data":"{     \"entity_id\": \"switch.lumiere_salon\"   }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":180,"wires":[[]]},{"id":"718d34f4.9f3efc","type":"api-call-service","z":"8e22460d.5d4bc8","name":"LumiereSalon_Off","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.lumiere_salon"],"data":"{     \"entity_id\": \"switch.lumiere_salon\"   }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":240,"wires":[[]]},{"id":"74361e87.c60ef","type":"switch","z":"8e22460d.5d4bc8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":220,"wires":[["46261335.4a1a8c"],["718d34f4.9f3efc"]]},{"id":"96df52f.32954b","type":"api-call-service","z":"8e22460d.5d4bc8","name":"Sapin_On","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.tc6_bp1"],"data":"{     \"entity_id\": \"switch.tc6_bp1\"   }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":320,"wires":[[]]},{"id":"dcf564c0.ed00d8","type":"api-call-service","z":"8e22460d.5d4bc8","name":"Sapin_Off","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.tc6_bp1"],"data":"{     \"entity_id\": \"switch.tc6_bp1\"   }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":400,"wires":[[]]},{"id":"e5b22860.6ff4b8","type":"switch","z":"8e22460d.5d4bc8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":380,"wires":[["96df52f.32954b"],["dcf564c0.ed00d8"]]},{"id":"2816255d.87259a","type":"switch","z":"8e22460d.5d4bc8","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":80,"wires":[["6b851733.c19458"],["3467d74a.0269c8"]]},{"id":"b5a8d80.7946728","type":"debug","z":"8e22460d.5d4bc8","name":"P1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":580,"wires":[]},{"id":"3467d74a.0269c8","type":"api-call-service","z":"8e22460d.5d4bc8","name":"PC Lampe Desodo","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.pc1_lidl"],"data":"{     \"entity_id\": \"switch.pc1_lidl\"   }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":100,"wires":[[]]},{"id":"f412731.839b49","type":"switch","z":"8e22460d.5d4bc8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":480,"wires":[["118aed92.1cefb2"],["c8c87646.f85928"]]},{"id":"118aed92.1cefb2","type":"api-call-service","z":"8e22460d.5d4bc8","name":"Spots terrasse","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.spots_ext_sud"],"data":"{\"entity_id\":\"switch.spots_ext_sud\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":500,"y":500,"wires":[[]]},{"id":"c8c87646.f85928","type":"api-call-service","z":"8e22460d.5d4bc8","name":"Spots terrasse","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.spots_ext_sud"],"data":"{\"entity_id\":\"switch.spots_ext_sud\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":500,"y":580,"wires":[[]]},{"id":"b2e5a71f.ce6948","type":"alexa-smart-home-v3","z":"8e22460d.5d4bc8","conf":"51584e3c2cfaa393","device":"51168","acknowledge":true,"name":"lampe salon","topic":"","x":110,"y":280,"wires":[["74361e87.c60ef"]]},{"id":"caee490f3d7be3b4","type":"alexa-smart-home-v3","z":"8e22460d.5d4bc8","conf":"51584e3c2cfaa393","device":"51169","acknowledge":true,"name":"lampe terrasse","topic":"","x":118,"y":490,"wires":[["f412731.839b49"]]},{"id":"fee29231711f705e","type":"api-call-service","z":"8e22460d.5d4bc8","name":"Ferm Volet Bureau Droit","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"script","service":"volet_bureau_droit_down","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":530,"y":660,"wires":[[]]},{"id":"c6da137185d59bf4","type":"api-call-service","z":"8e22460d.5d4bc8","name":"Ferm Volet Bureau Gauche","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"script","service":"volet_bureau_gauche_down","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":560,"y":720,"wires":[[]]},{"id":"8e86827c07b7f0d7","type":"switch","z":"8e22460d.5d4bc8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":700,"wires":[["fee29231711f705e","c6da137185d59bf4"],[]]},{"id":"4eb6d8fdad19d5de","type":"alexa-smart-home-v3","z":"8e22460d.5d4bc8","conf":"51584e3c2cfaa393","device":"51333","acknowledge":true,"name":"fermeture volet bureau","topic":"","x":140,"y":680,"wires":[["b5a8d80.7946728","8e86827c07b7f0d7"]]},{"id":"09254c2cca01b8aa","type":"alexa-smart-home-v3","z":"8e22460d.5d4bc8","conf":"51584e3c2cfaa393","device":"51256","acknowledge":true,"name":"ouverture volet bureau","topic":"","x":120,"y":760,"wires":[["52715ec13791f02e","b75aab4586ee0490"]]},{"id":"52715ec13791f02e","type":"debug","z":"8e22460d.5d4bc8","name":"P2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":760,"wires":[]},{"id":"d712839b239413b2","type":"api-call-service","z":"8e22460d.5d4bc8","name":"Ouv Volet Bureau Gauche","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"script","service":"volet_bureau_gauche_up","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":880,"wires":[[]]},{"id":"27ccbb2bf9344110","type":"api-call-service","z":"8e22460d.5d4bc8","name":"Ouv Volet Bureau Droit","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"script","service":"volet_bureau_droit_up","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":540,"y":820,"wires":[[]]},{"id":"b75aab4586ee0490","type":"switch","z":"8e22460d.5d4bc8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":840,"wires":[["d712839b239413b2","27ccbb2bf9344110"],[]]}]