node-red/.flows.json.backup
[{"id":"b5b9a01121548ffb","type":"tab","label":"Router","disabled":false,"info":"","env":[]},{"id":"40d6175cad8263d9","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"09a2c11826adc69d","type":"tab","label":"Victron","disabled":false,"info":"","env":[]},{"id":"b15eee11632a5b2f","type":"tab","label":"Alexa","disabled":false,"info":""},{"id":"80434e308062bad3","type":"tab","label":"Router V2","disabled":false,"info":"","env":[]},{"id":"e0023ed90a550e0f","type":"tab","label":"PID","disabled":false,"info":"","env":[]},{"id":"12c9ac63ed800ed0","type":"subflow","name":"Subflow 1","info":"","in":[{"x":100,"y":140,"wires":[{"id":"ec719d4d.0d54f8"}]}],"out":[{"x":760,"y":320,"wires":[{"id":"ede39236.1961f8","port":0}]}]},{"id":"2923591e.104216","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"venus-ca.crt","servername":"","verifyservercert":true,"alpnprotocol":""},{"id":"45bc8be7.a4f0a4","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"404e1c1.65f5de4","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Routeur","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1c38fbb7.3f203c","type":"mqtt-broker","name":"MQTT Victron","broker":"192.168.0.86","port":"1883","tls":"2923591e.104216","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"3","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"35ebc542aeecc309","type":"ui_tab","name":"Victron","icon":"dashboard","disabled":false,"hidden":false},{"id":"dedd34935ebbcdc1","type":"ui_group","name":"Router V1","tab":"35ebc542aeecc309","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"51584e3c2cfaa393","type":"alexa-smart-home-v3-conf","username":"crochonremy@gmail.com","mqttserver":"mq-red.cb-net.co.uk","webapiurl":"red.cb-net.co.uk","contextName":"memory"},{"id":"af1b6fc455ed5ad2","type":"modbus-client","name":"Victron","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"192.168.0.86","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":1,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true,"showWarnings":true,"showLogs":true},{"id":"0bdb21264cfecccd","type":"ui_group","name":"Routeur V2","tab":"35ebc542aeecc309","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"13956cf323d720cd","type":"ui_group","name":"Reseau Elec","tab":"35ebc542aeecc309","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"89831f1002789b6c","type":"mqtt-broker","name":"","broker":"192.168.0.37","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"378299f3e47d4d20","type":"ui_group","name":"Simulation","tab":"35ebc542aeecc309","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"2b7ac01b.fc984","type":"ui_group","name":"SENSORS","tab":"99ab8dc5.f435c","order":1,"disp":true,"width":"6","collapse":false},{"id":"99ab8dc5.f435c","type":"ui_tab","name":"HTTP","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"7fe4b5c3.32e58c","type":"function","z":"12c9ac63ed800ed0","name":"30 sec RC + 20","func":"// Applies a simple RC low pass filter to incoming payload values\nvar tc = 30*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue + 20;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":240,"wires":[["ae1a6e5.d4c0d9"]]},{"id":"1bacd004.9753c","type":"inject","z":"12c9ac63ed800ed0","name":"Inject -0.2 at start","repeat":"","crontab":"","once":true,"topic":"","payload":"-0.2","payloadType":"num","x":188,"y":63,"wires":[["ec719d4d.0d54f8"]]},{"id":"999a52c2.f465f","type":"function","z":"12c9ac63ed800ed0","name":"10 sec RC","func":"// Applies a simple RC low pass filter to incoming payload values\nvar tc = 10*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue;\nreturn msg;","outputs":1,"noerr":0,"x":504.5,"y":240,"wires":[["7fe4b5c3.32e58c"]]},{"id":"ec719d4d.0d54f8","type":"delay","z":"12c9ac63ed800ed0","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":321.5,"y":137,"wires":[["ede39236.1961f8"]]},{"id":"a823c9cf.2a6178","type":"function","z":"12c9ac63ed800ed0","name":"2 msg transport delay","func":"// stores messages in a fifo until the specified number have been received, \n// then releases them as new messages are received.\n// during the filling phase the earliest message is passed on each time \n// a message is received, but it is also left in the fifo\nvar fifoMaxLength = 2;\nvar fifo = context.get('fifo') || [];\n// push the new message onto the top of the array, messages are shifted down and\n// drop off the front\nvar length = fifo.push(msg);  // returns new length\nif (length > fifoMaxLength) {\n    newMsg = fifo.shift();\n} else {\n    // not full yet, make a copy of the msg and pass it on\n    var newMsg = JSON.parse(JSON.stringify(fifo[0]));\n}\ncontext.set('fifo', fifo);\nreturn newMsg;","outputs":1,"noerr":0,"x":340,"y":300,"wires":[["999a52c2.f465f"]]},{"id":"ae1a6e5.d4c0d9","type":"function","z":"12c9ac63ed800ed0","name":"Clear all except payload","func":"msg2 = {payload: msg.payload};\nreturn msg2;","outputs":1,"noerr":0,"x":598.5,"y":326,"wires":[[]]},{"id":"ede39236.1961f8","type":"range","z":"12c9ac63ed800ed0","minin":"0","maxin":"100","minout":"-100","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":150.5,"y":241,"wires":[["a823c9cf.2a6178"]]},{"id":"b44f7779fd39b7f9","type":"http request","z":"b5b9a01121548ffb","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"msg","keyValue":"payload","valueType":"other","valueValue":""}],"x":710,"y":100,"wires":[[]]},{"id":"f8a3116ee314ad09","type":"function","z":"b5b9a01121548ffb","name":"function 1","func":"var value=msg.payload;\n\nif (value < 0) {\n    value = 0;\n} else if (value > 100) {\n    value = 100;\n}\n\n\nmsg.payload = \"http://192.168.0.77/?POWER=\"+value;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":80,"wires":[["a666ede003ed70c0"]]},{"id":"a666ede003ed70c0","type":"change","z":"b5b9a01121548ffb","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":140,"wires":[["b44f7779fd39b7f9","f557308d88ddb45d","178d9c43280a72b3"]]},{"id":"db4dd80977e2090d","type":"debug","z":"b5b9a01121548ffb","name":"M_Dimmer","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":710,"y":340,"wires":[]},{"id":"018ded3b632dc623","type":"debug","z":"b5b9a01121548ffb","name":"PU grid","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":280,"y":200,"wires":[]},{"id":"f557308d88ddb45d","type":"debug","z":"b5b9a01121548ffb","name":"URL","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":160,"wires":[]},{"id":"fdbd5f5f28fea6a2","type":"function","z":"b5b9a01121548ffb","name":"Calcul Sortie % V1","func":"var pu = Math.abs(msg.pu);\nvar pu_net = msg.pu;\nvar S_Triac;\nvar Pas_Triac;\nvar M_Triac;\nvar Palier0 = 0;\nvar Palier1 = 15;\nvar Palier2 = 50;\nvar Palier3 = 100;\nvar Palier4 = 200;\nvar Palier5 = 300;\nvar Palier6 = 600;\nvar Palier7 = 900;\nvar etat = msg.dimmer; // Etat dimmer\n\nif (etat === \"on\") {\n\n    if (global.get('M_Triac') === undefined) {\n        global.set('M_Triac', 0);\n    }\n    S_Triac = global.get('M_Triac')\n\n    if (pu >= Palier1 && pu < Palier2) {\n        Pas_Triac = 0.5;\n    }\n    else if (pu >= Palier2 && pu < Palier3) {\n        Pas_Triac = 1;\n    }\n    else if (pu >= Palier3 && pu < Palier4) {\n        Pas_Triac = 1.5;\n    }\n    else if (pu >= Palier4 && pu < Palier5) {\n        Pas_Triac = 2;\n    }\n    else if (pu >= Palier5 && pu < Palier6) {\n        Pas_Triac = 2.5;\n    }\n    else if (pu >= Palier6 && pu < Palier7) {\n        Pas_Triac = 3;\n    }\n    else if (pu >= Palier7) {\n        Pas_Triac = 4;\n    }\n    else {\n        Pas_Triac = 0;\n    }\n\n    if (pu_net < 0) {\n        S_Triac = S_Triac + Pas_Triac;\n    } else {\n        S_Triac = S_Triac - Pas_Triac;\n    }\n\n    if (S_Triac < 1) {\n        S_Triac = 0;\n    }\n    if (S_Triac > 100) {\n        S_Triac = 100;\n    }\n    global.set('M_Triac', S_Triac);\n\n} else {\n    S_Triac = 0;\n    global.set('M_Triac', 0)\n    Pas_Triac = 0;\n}\nS_Triac = Math.trunc(S_Triac);\nmsg.payload = \"http://192.168.0.77/?POWER=\" + S_Triac;\n\nvar msg2 = { payload: Pas_Triac }\nvar msg3 = { payload: S_Triac }\nreturn [msg, msg2, msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":380,"wires":[["ed58305619f6852e","a666ede003ed70c0"],["db4dd80977e2090d","cabe041328974c8d"],["db0541b9d758a21b","0b53ba5cfacf1870","aa0d7a97f4e6689a"]]},{"id":"cabe041328974c8d","type":"ui_gauge","z":"b5b9a01121548ffb","name":"","group":"dedd34935ebbcdc1","order":1,"width":"3","height":"3","gtype":"gage","title":"M_Dimmer","label":"Unité","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":710,"y":400,"wires":[]},{"id":"db0541b9d758a21b","type":"ui_gauge","z":"b5b9a01121548ffb","name":"","group":"dedd34935ebbcdc1","order":2,"width":"3","height":"3","gtype":"gage","title":"Sortie V1","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":700,"y":440,"wires":[]},{"id":"6ba6b2b867495c36","type":"modbus-read","z":"b5b9a01121548ffb","name":"Pu grid","topic":"Pu_grid","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"showWarnings":true,"unitid":"100","dataType":"HoldingRegister","adr":"820","quantity":"1","rate":"2","rateUnit":"s","delayOnStart":false,"startDelayTime":"5","server":"af1b6fc455ed5ad2","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"x":90,"y":200,"wires":[["5cceba6ba9d05be2"],[]]},{"id":"5cceba6ba9d05be2","type":"function","z":"b5b9a01121548ffb","name":"Convertion","func":"// Entrée : msg.payload (entier non signé)\n// Sortie : msg.payload (entier signé)\n\n// Récupérer la valeur de l'entier non signé\nvar unsignedInt = msg.payload;\n\n// Créer un tableau tampon (Buffer) pour stocker les données\nvar buffer = Buffer.allocUnsafe(2);\n\n// Écrire la valeur de l'entier non signé dans le tampon\nbuffer.writeUInt16BE(unsignedInt, 0);\n\n// Lire la valeur de l'entier signé depuis le tampon\nvar signedInt = buffer.readInt16BE(0);\n\n// Mettre à jour la valeur du message avec l'entier signé\nmsg.payload = signedInt;\n\n// Renvoyer le message modifié\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":130,"y":300,"wires":[["018ded3b632dc623","753838888e8d0e39","8093dbcbfdee5e83","deb171eaafbd686d"]]},{"id":"10fc7e80acfddd0b","type":"ui_slider","z":"b5b9a01121548ffb","name":"","label":"Simul Sortie","tooltip":"","group":"378299f3e47d4d20","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":"0","max":"100","step":1,"className":"","x":110,"y":80,"wires":[["f8a3116ee314ad09"]]},{"id":"753838888e8d0e39","type":"ui_chart","z":"b5b9a01121548ffb","name":"","group":"13956cf323d720cd","order":2,"width":0,"height":0,"label":"Pu Réseau","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":710,"y":260,"wires":[[]]},{"id":"178d9c43280a72b3","type":"ui_text","z":"b5b9a01121548ffb","group":"dedd34935ebbcdc1","order":4,"width":0,"height":0,"name":"","label":"Trame","format":"{{msg.payload}}","layout":"row-spread","className":"","x":690,"y":220,"wires":[]},{"id":"0b53ba5cfacf1870","type":"ui_chart","z":"b5b9a01121548ffb","name":"","group":"dedd34935ebbcdc1","order":3,"width":0,"height":0,"label":"Sortie GV1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":710,"y":480,"wires":[[]]},{"id":"d019e363beeba570","type":"ui_slider","z":"b5b9a01121548ffb","name":"","label":"Simul Puissance","tooltip":"","group":"378299f3e47d4d20","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":"-1000","max":"1000","step":1,"className":"","x":130,"y":140,"wires":[["fdbd5f5f28fea6a2"]]},{"id":"deb171eaafbd686d","type":"change","z":"b5b9a01121548ffb","name":"payload->Pu->dimmer","rules":[{"t":"set","p":"pu","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"dimmer","pt":"msg","to":"dimmer","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":380,"wires":[["fdbd5f5f28fea6a2","bd281f802968e871"]]},{"id":"0ad2aa6bdcd53796","type":"debug","z":"b5b9a01121548ffb","name":"triac","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":690,"y":700,"wires":[]},{"id":"83c84ce66a8c4a14","type":"comment","z":"b5b9a01121548ffb","name":"Routeur PV","info":"","x":390,"y":40,"wires":[]},{"id":"8093dbcbfdee5e83","type":"ui_gauge","z":"b5b9a01121548ffb","name":"","group":"13956cf323d720cd","order":1,"width":"3","height":"3","gtype":"gage","title":"Pu reseau","label":"W","format":"{{value}}","min":"-1000","max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":710,"y":300,"wires":[]},{"id":"6f137499a6900294","type":"change","z":"b5b9a01121548ffb","name":"","rules":[{"t":"set","p":"mem_triac","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":700,"wires":[["0ad2aa6bdcd53796"]]},{"id":"c8ea87cca28820be","type":"inject","z":"b5b9a01121548ffb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":700,"wires":[["c978d7d888e0b013"]]},{"id":"c978d7d888e0b013","type":"random","z":"b5b9a01121548ffb","name":"","low":"0","high":"1000","inte":"true","property":"payload","x":320,"y":700,"wires":[["6f137499a6900294"]]},{"id":"3b09ec9fdd745515","type":"api-current-state","z":"b5b9a01121548ffb","name":"Etat Dimmer","server":"45bc8be7.a4f0a4","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.dimmer_on_off_4630","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":640,"wires":[["9ca3122b81fd9436"]]},{"id":"66170cc35654d986","type":"inject","z":"b5b9a01121548ffb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":640,"wires":[["3b09ec9fdd745515"]]},{"id":"9ca3122b81fd9436","type":"change","z":"b5b9a01121548ffb","name":"","rules":[{"t":"set","p":"dimmer","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":640,"wires":[[]]},{"id":"bd281f802968e871","type":"debug","z":"b5b9a01121548ffb","name":"Dimmer","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"dimmer","targetType":"msg","statusVal":"payload","statusType":"auto","x":360,"y":440,"wires":[]},{"id":"6aa990dfe4ef26e2","type":"function","z":"b5b9a01121548ffb","name":"Calcul Sortie % V2","func":"var pu_net = msg.pu;\nvar S_Triac;\nvar P_Routage = -10;\nvar M_Triac;\nvar P_dimmer1 = 1;\nvar P_dimmer2 = 0.1;\nvar P_dimmer3 = 1;\nvar M_dimmer = 0;\nvar etat = msg.dimmer; // Etat dimmer\n\nif (etat === \"on\") {\n    if (global.get('M_Triac') === undefined) {\n        global.set('M_Triac', 0);\n    }\n    S_Triac = global.get('M_Triac');\n\n    if (pu_net == 0) {\n        S_Triac = 0;\n        M_dimmer = 0;\n    }\n\n    if (pu_net <= -400 && S_Triac < 95) {\n        S_Triac = S_Triac + P_dimmer3;\n        M_dimmer = P_dimmer3;\n    }\n    if (pu_net > -400 && pu_net <= -150 && S_Triac < 99) {\n        S_Triac = S_Triac + P_dimmer1;\n        M_dimmer = P_dimmer1;\n    }\n\n    if (pu_net <= P_Routage && pu_net > -150 && S_Triac < 99.99) {\n        S_Triac = S_Triac + P_dimmer2;\n        M_dimmer = P_dimmer2;\n    }\n\n    if (pu_net > P_Routage && pu_net <= 30 && S_Triac > 0.01) {\n        S_Triac = S_Triac - P_dimmer2;\n        M_dimmer = P_dimmer2;\n    }\n\n    if (pu_net > 30 && S_Triac > 1 && pu_net <= 150) {\n        S_Triac = S_Triac - P_dimmer1;\n        M_dimmer = P_dimmer1;\n    }\n\n    if (pu_net > 150 && S_Triac > 5) {\n        S_Triac = S_Triac - P_dimmer3;\n        M_dimmer = P_dimmer3;\n    }\n\n    if (S_Triac < 1) {\n        S_Triac = 0;\n        M_dimmer = 0;\n    }\n    if (S_Triac > 100) {\n        S_Triac = 100;\n        M_dimmer = 0;\n    }\n    global.set('M_Triac', S_Triac);\n\n} else {\n    S_Triac = 0;\n    global.set('M_Triac', 0)\n    M_dimmer = 0;\n}\nS_Triac = Math.trunc(S_Triac);\nmsg.payload = \"http://192.168.0.77/?POWER=\" + S_Triac;\n\nvar msg2 = { payload: M_dimmer }\nvar msg3 = { payload: S_Triac }\nreturn [msg, msg2, msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":780,"wires":[[],[],[]]},{"id":"4eb922a67fb792ba","type":"function","z":"b5b9a01121548ffb","name":"Calcul Sortie % V1","func":"var pu = Math.abs(msg.pu);\nvar pu_net = msg.pu;\nvar S_Triac;\nvar Pas_Triac;\nvar M_Triac;\nvar Palier0 = -15;\nvar Palier1 = 15;\nvar Palier2 = 50;\nvar Palier3 = 100;\nvar Palier4 = 200;\nvar Palier5 = 300;\nvar Palier6 = 600;\nvar Palier7 = 900;\nvar etat = msg.dimmer; // Etat dimmer\n\nif (etat === \"on\") {\n\n    if (global.get('M_Triac') === undefined) {\n        global.set('M_Triac', 0);\n    }\n    S_Triac = global.get('M_Triac')\n\n    if (pu >= Palier1 && pu < Palier2) {\n        Pas_Triac = 0.5;\n    }\n    else if (pu >= Palier2 && pu < Palier3) {\n        Pas_Triac = 1;\n    }\n    else if (pu >= Palier3 && pu < Palier4) {\n        Pas_Triac = 1.5;\n    }\n    else if (pu >= Palier4 && pu < Palier5) {\n        Pas_Triac = 2;\n    }\n    else if (pu >= Palier5 && pu < Palier6) {\n        Pas_Triac = 2.5;\n    }\n    else if (pu >= Palier6 && pu < Palier7) {\n        Pas_Triac = 3;\n    }\n    else if (pu >= Palier7) {\n        Pas_Triac = 4;\n    }\n    else {\n        Pas_Triac = 0;\n    }\n\n    if (pu_net < 0) {\n        S_Triac = S_Triac + Pas_Triac;\n    } else {\n        S_Triac = S_Triac - Pas_Triac;\n    }\n\n    if (S_Triac < 1) {\n        S_Triac = 0;\n    }\n    if (S_Triac > 100) {\n        S_Triac = 100;\n    }\n    global.set('M_Triac', S_Triac);\n\n} else {\n    S_Triac = 0;\n    global.set('M_Triac', 0)\n    Pas_Triac = 0;\n}\nS_Triac = Math.trunc(S_Triac);\nmsg.payload = \"http://192.168.0.77/?POWER=\" + S_Triac;\n\nvar msg2 = { payload: Pas_Triac }\nvar msg3 = { payload: S_Triac }\nreturn [msg, msg2, msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":150,"y":780,"wires":[[],[],[]]},{"id":"ed58305619f6852e","type":"debug","z":"b5b9a01121548ffb","name":"debug 10","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":480,"y":200,"wires":[]},{"id":"aa0d7a97f4e6689a","type":"debug","z":"b5b9a01121548ffb","name":"S_Triac","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":680,"y":540,"wires":[]},{"id":"2a203627ebfa6cd6","type":"debug","z":"b5b9a01121548ffb","name":"debug 11","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":480,"y":540,"wires":[]},{"id":"882a213848939190","type":"change","z":"b5b9a01121548ffb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"M_Triac","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":540,"wires":[["2a203627ebfa6cd6"]]},{"id":"f195368ba0e05cbb","type":"inject","z":"b5b9a01121548ffb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":560,"wires":[["882a213848939190","fa745009932ae53a"]]},{"id":"fa745009932ae53a","type":"random","z":"b5b9a01121548ffb","name":"","low":"-500","high":"+500","inte":"true","property":"payload","x":140,"y":460,"wires":[[]]},{"id":"a0249ea1a893a7a5","type":"change","z":"b5b9a01121548ffb","name":"","rules":[{"t":"set","p":"M_Triac","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":600,"wires":[[]]},{"id":"a6ee04e72dd7d8d3","type":"inject","z":"b5b9a01121548ffb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":600,"wires":[["a0249ea1a893a7a5"]]},{"id":"1812f7c07c5be50f","type":"server-state-changed","z":"b5b9a01121548ffb","name":"Pu ECS","server":"45bc8be7.a4f0a4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.ecocompteur_ecs","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":230,"y":840,"wires":[["6dbe0d3d66e59d6f","c7ded531d126820e"]]},{"id":"6dbe0d3d66e59d6f","type":"ui_chart","z":"b5b9a01121548ffb","name":"","group":"13956cf323d720cd","order":2,"width":0,"height":0,"label":"Pu ECS","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":640,"y":840,"wires":[[]]},{"id":"c7ded531d126820e","type":"ui_gauge","z":"b5b9a01121548ffb","name":"","group":"13956cf323d720cd","order":1,"width":"3","height":"3","gtype":"gage","title":"Pu ECS","label":"W","format":"{{value}}","min":"0","max":"3000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":640,"y":880,"wires":[]},{"id":"d7abfdb1e66ab3c1","type":"debug","z":"40d6175cad8263d9","name":"Striac","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":650,"y":260,"wires":[]},{"id":"b9f9cb859e53b6c1","type":"http in","z":"40d6175cad8263d9","d":true,"name":"","url":"/triac","method":"get","upload":false,"swaggerDoc":"","x":100,"y":191,"wires":[["f92e81017d9e9e43"]]},{"id":"9fa0acb5e1f53588","type":"http response","z":"40d6175cad8263d9","name":"","statusCode":"200","headers":{},"x":640,"y":140,"wires":[]},{"id":"1bbdfaa0d2a5911f","type":"function","z":"40d6175cad8263d9","name":"","func":"var triac = msg.sort_triac;\nmsg.payload = { \"value\": triac };\nvar msg2 = { payload: triac }   \nreturn [msg, msg2];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":200,"wires":[["9fa0acb5e1f53588","2d7e3ff8ab80a43b"],["d7abfdb1e66ab3c1"]]},{"id":"2d7e3ff8ab80a43b","type":"debug","z":"40d6175cad8263d9","name":"D2","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":650,"y":200,"wires":[]},{"id":"4a14c2419bd0226e","type":"debug","z":"40d6175cad8263d9","name":"D1","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"s_triac","targetType":"msg","statusVal":"payload","statusType":"auto","x":630,"y":60,"wires":[]},{"id":"f92e81017d9e9e43","type":"change","z":"40d6175cad8263d9","name":"","rules":[{"t":"set","p":"sort_triac","pt":"msg","to":"mem_triac","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":140,"wires":[["1bbdfaa0d2a5911f","4a14c2419bd0226e"]]},{"id":"ff07b4896ebbc622","type":"mqtt out","z":"09a2c11826adc69d","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1c38fbb7.3f203c","x":690,"y":300,"wires":[]},{"id":"ce60e1243314953e","type":"inject","z":"09a2c11826adc69d","name":"SOC CP0","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"W/c0619ab1db0d/settings/0/Settings/CGwacs/BatteryLife/Schedule/Charge/0/Soc","payload":"{\"value\": 65}","payloadType":"json","x":480,"y":360,"wires":[["ff07b4896ebbc622"]],"info":"{\"value\": 7}"},{"id":"26c1000a1e1c590c","type":"debug","z":"09a2c11826adc69d","name":"IB CP1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":360,"wires":[]},{"id":"5993ff51601b7c60","type":"mqtt out","z":"09a2c11826adc69d","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1c38fbb7.3f203c","x":690,"y":80,"wires":[]},{"id":"fc8b9d48eec4c094","type":"inject","z":"09a2c11826adc69d","name":"Valid CP0","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"W/c0619ab1db0d/settings/0/Settings/CGwacs/BatteryLife/Schedule/Charge/0/Day","payload":"{\"value\": 7}","payloadType":"json","x":480,"y":80,"wires":[["5993ff51601b7c60"]],"info":"{\"value\": 7}"},{"id":"f975dd1e67addabd","type":"mqtt out","z":"09a2c11826adc69d","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1c38fbb7.3f203c","x":690,"y":220,"wires":[]},{"id":"98a748e59d9b642f","type":"inject","z":"09a2c11826adc69d","name":"DeValid CP0","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"W/c0619ab1db0d/settings/0/Settings/CGwacs/BatteryLife/Schedule/Charge/0/Day","payload":"{\"value\": -7}","payloadType":"json","x":490,"y":220,"wires":[["f975dd1e67addabd"]],"info":"{\"value\": 7}"},{"id":"2567a4e9dc1c20cf","type":"server-state-changed","z":"09a2c11826adc69d","name":"Valid ESS MP1","server":"45bc8be7.a4f0a4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.mp2_valid_ess_charge_prog_1","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":200,"wires":[["54aefabb7bf91f6c"]]},{"id":"7a13488df428a0d9","type":"debug","z":"09a2c11826adc69d","name":"CP0 ON","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":140,"wires":[]},{"id":"47ded119061b67d6","type":"debug","z":"09a2c11826adc69d","name":"CP0 OFF","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":700,"y":180,"wires":[]},{"id":"54aefabb7bf91f6c","type":"function","z":"09a2c11826adc69d","name":"function 1","func":"var msg1 = { topic: \"W/c0619ab1db0d/settings/0/Settings/CGwacs/BatteryLife/Schedule/Charge/0/Day\", payload: { \"value\": 7 } };\nvar msg2 = { topic: \"W/c0619ab1db0d/settings/0/Settings/CGwacs/BatteryLife/Schedule/Charge/0/Day\", payload: { \"value\": -7 } };\nif (msg.payload === \"on\") {\n    return [msg1];\n}\n\nif (msg.payload === \"off\") {\n   return [msg2];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":140,"wires":[["5993ff51601b7c60","7a13488df428a0d9"],["f975dd1e67addabd","47ded119061b67d6"]]},{"id":"7b897e5e43703221","type":"server-state-changed","z":"09a2c11826adc69d","name":"Niveau SOC CP1","server":"45bc8be7.a4f0a4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.mp2_niveau_soc_cp1","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"topic","propertyType":"msg","value":"W/c0619ab1db0d/settings/0/Settings/CGwacs/BatteryLife/Schedule/Charge/0/Soc","valueType":"str"},{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"}],"x":120,"y":260,"wires":[["39015e25c6d577e5"]]},{"id":"139132e92d5a1d4a","type":"function","z":"09a2c11826adc69d","name":"function 2","func":"msg.payload = {\"value\": msg.payload} ;\nmsg.topic = \"W/c0619ab1db0d/settings/0/Settings/CGwacs/BatteryLife/Schedule/Charge/0/Soc\";\nreturn [msg];\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":300,"wires":[["26c1000a1e1c590c","ff07b4896ebbc622"]]},{"id":"39015e25c6d577e5","type":"change","z":"09a2c11826adc69d","name":"convert","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number($$.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":300,"wires":[["139132e92d5a1d4a"]]},{"id":"8bbf947afe690d24","type":"comment","z":"09a2c11826adc69d","name":"Charge Programmée 1","info":"# # Devalidation ESS","x":360,"y":40,"wires":[]},{"id":"4d3008ea78c107f8","type":"mqtt out","z":"09a2c11826adc69d","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1c38fbb7.3f203c","x":710,"y":680,"wires":[]},{"id":"857489ed4bdbf0c2","type":"inject","z":"09a2c11826adc69d","name":"SOC CP1","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"W/c0619ab1db0d/settings/0/Settings/CGwacs/BatteryLife/Schedule/Charge/1/Soc","payload":"{\"value\": 65}","payloadType":"json","x":500,"y":740,"wires":[["4d3008ea78c107f8"]],"info":"{\"value\": 7}"},{"id":"f4c9ceee06a7f882","type":"debug","z":"09a2c11826adc69d","name":"IB CP1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":740,"wires":[]},{"id":"63ec35aed9506738","type":"mqtt out","z":"09a2c11826adc69d","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1c38fbb7.3f203c","x":710,"y":460,"wires":[]},{"id":"726346acf6411170","type":"inject","z":"09a2c11826adc69d","name":"Valid CP1","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"W/c0619ab1db0d/settings/0/Settings/CGwacs/BatteryLife/Schedule/Charge/1/Day","payload":"{\"value\": 7}","payloadType":"json","x":500,"y":460,"wires":[["63ec35aed9506738"]],"info":"{\"value\": 7}"},{"id":"a184113f07b446b7","type":"mqtt out","z":"09a2c11826adc69d","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1c38fbb7.3f203c","x":710,"y":600,"wires":[]},{"id":"6a806e5aa541e7f8","type":"inject","z":"09a2c11826adc69d","name":"DeValid CP1","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"W/c0619ab1db0d/settings/0/Settings/CGwacs/BatteryLife/Schedule/Charge/1/Day","payload":"{\"value\": -7}","payloadType":"json","x":510,"y":600,"wires":[["a184113f07b446b7"]],"info":"{\"value\": 7}"},{"id":"8cb3c16f60f12567","type":"server-state-changed","z":"09a2c11826adc69d","name":"Valid ESS MP2","server":"45bc8be7.a4f0a4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_boolean.mp2_valid_ess_charge_prog_2","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":120,"y":560,"wires":[["5eabe779acdb0df6"]]},{"id":"15d5a65d81355a72","type":"debug","z":"09a2c11826adc69d","name":"CP1 ON","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":520,"wires":[]},{"id":"3045bc3d72f0746c","type":"debug","z":"09a2c11826adc69d","name":"CP1 OFF","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":720,"y":560,"wires":[]},{"id":"5eabe779acdb0df6","type":"function","z":"09a2c11826adc69d","name":"function 3","func":"var msg1 = { topic: \"W/c0619ab1db0d/settings/0/Settings/CGwacs/BatteryLife/Schedule/Charge/1/Day\", payload: { \"value\": 7 } };\nvar msg2 = { topic: \"W/c0619ab1db0d/settings/0/Settings/CGwacs/BatteryLife/Schedule/Charge/1/Day\", payload: { \"value\": -7 } };\nif (msg.payload === \"on\") {\n    return [msg1];\n}\n\nif (msg.payload === \"off\") {\n   return [msg2];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":520,"wires":[["63ec35aed9506738","15d5a65d81355a72"],["a184113f07b446b7","3045bc3d72f0746c"]]},{"id":"23ecb9e9921613b0","type":"server-state-changed","z":"09a2c11826adc69d","name":"Niveau SOC CP2","server":"45bc8be7.a4f0a4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"input_number.mp2_niveau_soc_cp2","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"}],"x":120,"y":620,"wires":[["78ad7fa6d2ac8d3b"]]},{"id":"9815e31b23478de1","type":"function","z":"09a2c11826adc69d","name":"function 4","func":"msg.payload = {\"value\": msg.payload} ;\nmsg.topic = \"W/c0619ab1db0d/settings/0/Settings/CGwacs/BatteryLife/Schedule/Charge/1/Soc\";\nreturn [msg];\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":680,"wires":[["f4c9ceee06a7f882","4d3008ea78c107f8"]]},{"id":"78ad7fa6d2ac8d3b","type":"change","z":"09a2c11826adc69d","name":"convert","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number($$.payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":680,"wires":[["9815e31b23478de1"]]},{"id":"8e14d68a038975b6","type":"comment","z":"09a2c11826adc69d","name":"Charge Programmée 2","info":"# # # Devalidation ESS","x":360,"y":420,"wires":[]},{"id":"bc3c77a635f98e7d","type":"function","z":"09a2c11826adc69d","name":"function 5","func":"msg.payload = {\"value\": msg.payload} ;\nmsg.topic = \"N/c0619ab1db0d/settings/0/Settings/CGwacs/MaxDischargePower\";\nreturn [msg];\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":800,"wires":[[]]},{"id":"ed83e23ec39c0836","type":"mqtt out","z":"09a2c11826adc69d","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"1c38fbb7.3f203c","x":690,"y":840,"wires":[]},{"id":"594ff33e126226f5","type":"inject","z":"09a2c11826adc69d","name":"Max Decharge Power","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"N/c0619ab1db0d/settings/0/Settings/CGwacs/MaxDischargePower","payload":"{\"value\": 85.0}","payloadType":"json","x":320,"y":900,"wires":[["ed83e23ec39c0836","c2b3a528d7921c17"]],"info":"{\"value\": 7}"},{"id":"fb9e8649f4916988","type":"inject","z":"09a2c11826adc69d","name":"RAZ Decharge Power","props":[{"p":"topic","vt":"str"},{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"N/c0619ab1db0d/settings/0/Settings/CGwacs/MaxDischargePower","payload":"{\"value\": -1.0}","payloadType":"json","x":320,"y":840,"wires":[["ed83e23ec39c0836","c2b3a528d7921c17"]],"info":"{\"value\": 7}"},{"id":"c2b3a528d7921c17","type":"debug","z":"09a2c11826adc69d","name":"debug 12","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":700,"y":900,"wires":[]},{"id":"87532818ceed1799","type":"modbus-write","z":"09a2c11826adc69d","name":"Max puissance Charge","showStatusActivities":false,"showErrors":false,"showWarnings":true,"unitid":"100","dataType":"HoldingRegister","adr":"2704","quantity":"1","server":"af1b6fc455ed5ad2","emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":680,"y":980,"wires":[[],[]]},{"id":"925b4135db03ba28","type":"inject","z":"09a2c11826adc69d","name":"RAZ Decharge Power","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"json","x":400,"y":960,"wires":[["87532818ceed1799","80cdb07bd3abd59e"]],"info":"{\"value\": 7}"},{"id":"e4ec9e7ee9fbbe33","type":"inject","z":"09a2c11826adc69d","name":"Max Decharge Power","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"300","payloadType":"json","x":400,"y":1020,"wires":[["80cdb07bd3abd59e","87532818ceed1799"]],"info":"{\"value\": 7}"},{"id":"80cdb07bd3abd59e","type":"debug","z":"09a2c11826adc69d","name":"debug 13","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":640,"y":1060,"wires":[]},{"id":"7307b46ae97cebf6","type":"api-call-service","z":"b15eee11632a5b2f","name":"PC Lampe Desodo","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.pc1_lidl"],"data":"{  \"entity_id\": \"switch.pc1_lidl\" }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":40,"wires":[[]]},{"id":"f9c4a3f6781b5543","type":"api-call-service","z":"b15eee11632a5b2f","name":"LumiereSalon_On","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.lumiere_salon"],"data":"{     \"entity_id\": \"switch.lumiere_salon\"   }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":180,"wires":[[]]},{"id":"3cb0ae90068b016d","type":"api-call-service","z":"b15eee11632a5b2f","name":"LumiereSalon_Off","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.lumiere_salon"],"data":"{     \"entity_id\": \"switch.lumiere_salon\"   }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":240,"wires":[[]]},{"id":"b748189a5f1bcc90","type":"switch","z":"b15eee11632a5b2f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":220,"wires":[["f9c4a3f6781b5543"],["3cb0ae90068b016d"]]},{"id":"b5ee4fef9d01c5ac","type":"api-call-service","z":"b15eee11632a5b2f","name":"Sapin_On","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.tc6_bp1"],"data":"{     \"entity_id\": \"switch.tc6_bp1\"   }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":320,"wires":[[]]},{"id":"2448a49144eb6c04","type":"api-call-service","z":"b15eee11632a5b2f","name":"Sapin_Off","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.tc6_bp1"],"data":"{     \"entity_id\": \"switch.tc6_bp1\"   }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":400,"wires":[[]]},{"id":"fb15d7fcdf844ace","type":"switch","z":"b15eee11632a5b2f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":380,"wires":[["b5ee4fef9d01c5ac"],["2448a49144eb6c04"]]},{"id":"a965e850be4ba3e5","type":"switch","z":"b15eee11632a5b2f","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":80,"wires":[["7307b46ae97cebf6"],["2269b5e15ab581b9"]]},{"id":"2318c1838aca4858","type":"debug","z":"b15eee11632a5b2f","name":"P1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":580,"wires":[]},{"id":"2269b5e15ab581b9","type":"api-call-service","z":"b15eee11632a5b2f","name":"PC Lampe Desodo","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.pc1_lidl"],"data":"{     \"entity_id\": \"switch.pc1_lidl\"   }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":100,"wires":[[]]},{"id":"354bdf026c4fccd1","type":"switch","z":"b15eee11632a5b2f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":480,"wires":[["302d0c49a7bf346f"],["4a2b3c76056362de"]]},{"id":"302d0c49a7bf346f","type":"api-call-service","z":"b15eee11632a5b2f","name":"Spots terrasse","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.spots_ext_sud"],"data":"{\"entity_id\":\"switch.spots_ext_sud\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":500,"y":500,"wires":[[]]},{"id":"4a2b3c76056362de","type":"api-call-service","z":"b15eee11632a5b2f","name":"Spots terrasse","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.spots_ext_sud"],"data":"{\"entity_id\":\"switch.spots_ext_sud\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":500,"y":580,"wires":[[]]},{"id":"52c7540926544728","type":"alexa-smart-home-v3","z":"b15eee11632a5b2f","conf":"51584e3c2cfaa393","device":"51168","acknowledge":true,"name":"lampe salon","topic":"","x":110,"y":280,"wires":[["b748189a5f1bcc90"]]},{"id":"531306f3d2977288","type":"alexa-smart-home-v3","z":"b15eee11632a5b2f","conf":"51584e3c2cfaa393","device":"51169","acknowledge":true,"name":"lampe terrasse","topic":"","x":118,"y":490,"wires":[["354bdf026c4fccd1"]]},{"id":"776a1b7652d620e2","type":"api-call-service","z":"b15eee11632a5b2f","name":"Ferm Volet Bureau Droit","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"script","service":"volet_bureau_droit_down","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":530,"y":660,"wires":[[]]},{"id":"ec91845992e0d712","type":"api-call-service","z":"b15eee11632a5b2f","name":"Ferm Volet Bureau Gauche","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"script","service":"volet_bureau_gauche_down","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":560,"y":720,"wires":[[]]},{"id":"b9360bb01c870ebf","type":"switch","z":"b15eee11632a5b2f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":700,"wires":[["776a1b7652d620e2","ec91845992e0d712"],[]]},{"id":"dcf7daedbb6e9375","type":"alexa-smart-home-v3","z":"b15eee11632a5b2f","conf":"51584e3c2cfaa393","device":"51333","acknowledge":true,"name":"fermeture volet bureau","topic":"","x":140,"y":680,"wires":[["2318c1838aca4858","b9360bb01c870ebf"]]},{"id":"15a30110a2da14fc","type":"alexa-smart-home-v3","z":"b15eee11632a5b2f","conf":"51584e3c2cfaa393","device":"51256","acknowledge":true,"name":"ouverture volet bureau","topic":"","x":120,"y":760,"wires":[["eb8d63856c3c50e5","0e23e9480e1bfb97"]]},{"id":"eb8d63856c3c50e5","type":"debug","z":"b15eee11632a5b2f","name":"P2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":760,"wires":[]},{"id":"9cb3a1bf1b4d5436","type":"api-call-service","z":"b15eee11632a5b2f","name":"Ouv Volet Bureau Gauche","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"script","service":"volet_bureau_gauche_up","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":880,"wires":[[]]},{"id":"baf5eb8ca1527bb2","type":"api-call-service","z":"b15eee11632a5b2f","name":"Ouv Volet Bureau Droit","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"script","service":"volet_bureau_droit_up","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":540,"y":820,"wires":[[]]},{"id":"0e23e9480e1bfb97","type":"switch","z":"b15eee11632a5b2f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":840,"wires":[["9cb3a1bf1b4d5436","baf5eb8ca1527bb2"],[]]},{"id":"192ba17b87db90ec","type":"function","z":"80434e308062bad3","name":"Calcul Sortie V2","func":"var Pu = msg.pu*-1; // Valeur de la puissance réelle en watts\nvar fReservoirEnergie  = context.get('fReservoirEnergie') || 0; // Récupération de la valeur actuelle de la variable fReservoirEnergie\nvar fCyclesParSeconde =  0.5; // Valeur du nombre de cycles par seconde\nvar fMargeSecuriteWatt = 6; // Valeur de la marge de sécurité en watts\nvar iCapaciteReservoirEnergie = 3600; // Valeur de la capacité maximale du réservoir d'énergie en joule\nvar StriacMax = 100; // Valeur maximale pour le contrôle du Triac\nvar EtatDimmer = msg.dimmer; // Etat dimmer\nvar STriac;\n\nif (EtatDimmer === \"off\") {\n    // Calcul du taux de puissance à délester pour ne pas injecter avec byDim\n    fReservoirEnergie += Pu/1 / fCyclesParSeconde;\n    fReservoirEnergie -= fMargeSecuriteWatt / fCyclesParSeconde;\n\n    // Contrôle des limites min et max du réservoir virtuel\n    if (fReservoirEnergie > iCapaciteReservoirEnergie) { fReservoirEnergie = iCapaciteReservoirEnergie; }\n    if (fReservoirEnergie < 0) { fReservoirEnergie = 0; }\n\n    // Détermination de la sortie Triac\n\n    if (fReservoirEnergie <= 1300) { STriac = 0; }\n    else {\n        if (fReservoirEnergie >= 2300) { STriac=StriacMax; }\n        else { STriac = ((fReservoirEnergie - 1300) * 0.1); }\n    }\n\n    context.set('fReservoirEnergie', fReservoirEnergie); // Stockage de la nouvelle valeur de fReservoirEnergie dans le contexte de Node-RED\n} else {\n    STriac = 0;\n    context.set('fReservoirEnergie', 0);\n}\nmsg.payload = \"http://192.168.0.77/?POWER=\" + STriac;\n\nvar msg2 = { payload: fReservoirEnergie }\nvar msg3 = { payload: STriac }\nvar msg4 = { payload: (Pu*-1) }\nvar msg5 = { payload: Pu / 1 / fCyclesParSeconde }\nreturn [msg, msg2, msg3,msg4,msg5];\n","outputs":5,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":320,"wires":[["877f3b3c57d1e306"],["fa21192ade71bfc8","f00597b5586bee7c"],["9d8b9a047c8c5964","551c5b733cbf1003","4b780e2275d9d625","8e72af98199ec0bf","de9e6c87375b8c8e"],["e5a7b70b5f86d33e"],["a0c0d666e0047554","f5616ca4cefc80e3"]]},{"id":"877f3b3c57d1e306","type":"debug","z":"80434e308062bad3","name":"URL","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":550,"y":220,"wires":[]},{"id":"fa21192ade71bfc8","type":"debug","z":"80434e308062bad3","name":"Res Energie","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":590,"y":280,"wires":[]},{"id":"9d8b9a047c8c5964","type":"debug","z":"80434e308062bad3","name":"S %","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":570,"y":340,"wires":[]},{"id":"cedc47d1822accee","type":"inject","z":"80434e308062bad3","name":"0","props":[{"p":"payload"},{"p":"pu","v":"0","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":340,"wires":[["192ba17b87db90ec"]]},{"id":"f00597b5586bee7c","type":"ui_gauge","z":"80434e308062bad3","name":"","group":"0bdb21264cfecccd","order":2,"width":"3","height":"3","gtype":"gage","title":"Reservoir","label":"Joules","format":"{{value}}","min":0,"max":"3600","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":780,"y":280,"wires":[]},{"id":"551c5b733cbf1003","type":"ui_gauge","z":"80434e308062bad3","name":"","group":"0bdb21264cfecccd","order":1,"width":"3","height":"3","gtype":"gage","title":"Sortie V2","label":"%","format":"{{value}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":780,"y":340,"wires":[]},{"id":"4b780e2275d9d625","type":"ui_chart","z":"80434e308062bad3","name":"","group":"0bdb21264cfecccd","order":4,"width":0,"height":0,"label":"Sortie GV2","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":790,"y":380,"wires":[[]]},{"id":"e5a7b70b5f86d33e","type":"debug","z":"80434e308062bad3","name":"Pu","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":570,"y":400,"wires":[]},{"id":"5122d8a4ab357d83","type":"random","z":"80434e308062bad3","name":"","low":"-50","high":"50","inte":"true","property":"payload","x":100,"y":220,"wires":[["a50eda08751a3a07"]]},{"id":"dfc5d308e832b669","type":"inject","z":"80434e308062bad3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":70,"y":280,"wires":[["5122d8a4ab357d83"]]},{"id":"8e72af98199ec0bf","type":"range","z":"80434e308062bad3","minin":"0","maxin":"100","minout":"0","maxout":"3000","action":"scale","round":true,"property":"pu","name":"","x":160,"y":460,"wires":[[]]},{"id":"77b1d87ef65abaab","type":"debug","z":"80434e308062bad3","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"dimmer","targetType":"msg","statusVal":"payload","statusType":"auto","x":400,"y":460,"wires":[]},{"id":"f9dcf8f24f91947b","type":"change","z":"80434e308062bad3","name":"payload->Pu","rules":[{"t":"set","p":"pu","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":200,"wires":[["192ba17b87db90ec"]]},{"id":"a50eda08751a3a07","type":"api-current-state","z":"80434e308062bad3","name":"Etat Dimmer","server":"45bc8be7.a4f0a4","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.dimmer_on_off_4630","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"dimmer","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":150,"y":140,"wires":[["f9dcf8f24f91947b","77b1d87ef65abaab"]]},{"id":"f5616ca4cefc80e3","type":"ui_numeric","z":"80434e308062bad3","name":"","label":"Increment","tooltip":"","group":"0bdb21264cfecccd","order":3,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"topic","topicType":"msg","format":"{{value}}","min":"-1500","max":"1500","step":1,"className":"","x":780,"y":440,"wires":[[]]},{"id":"a0c0d666e0047554","type":"debug","z":"80434e308062bad3","name":"Increment","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":580,"y":460,"wires":[]},{"id":"cab25d14e07c75f8","type":"http request","z":"80434e308062bad3","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"msg","keyValue":"payload","valueType":"other","valueValue":""}],"x":770,"y":20,"wires":[[]]},{"id":"587d942a06d5a64c","type":"change","z":"80434e308062bad3","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":100,"wires":[["cab25d14e07c75f8","40c02c701834b385"]]},{"id":"40c02c701834b385","type":"debug","z":"80434e308062bad3","name":"URL","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":100,"wires":[]},{"id":"de9e6c87375b8c8e","type":"subflow:12c9ac63ed800ed0","z":"80434e308062bad3","name":"","x":340,"y":540,"wires":[[]]},{"id":"ebe6f32b1e1868fc","type":"http response","z":"80434e308062bad3","name":"","statusCode":"","headers":{},"x":510,"y":40,"wires":[]},{"id":"bfd9a35b30b6a900","type":"http in","z":"80434e308062bad3","name":"","url":"/triacold","method":"get","upload":false,"swaggerDoc":"","x":160,"y":40,"wires":[["110e438352128dd6","69d6c8d5c2d3e351"]]},{"id":"110e438352128dd6","type":"debug","z":"80434e308062bad3","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":340,"y":100,"wires":[]},{"id":"08e92c60d4474b7d","type":"http in","z":"80434e308062bad3","name":"","url":"/hello","method":"get","swaggerDoc":"","x":410,"y":160,"wires":[["a948e0350e6528c2"]]},{"id":"a948e0350e6528c2","type":"template","z":"80434e308062bad3","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>","x":560,"y":160,"wires":[["1704ee4046695e8b"]]},{"id":"1704ee4046695e8b","type":"http response","z":"80434e308062bad3","name":"","x":700,"y":160,"wires":[]},{"id":"69d6c8d5c2d3e351","type":"template","z":"80434e308062bad3","name":"page","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head></head>\n    <body>\n        <h1>Hello World!</h1>\n    </body>\n</html>","x":350,"y":40,"wires":[["ebe6f32b1e1868fc"]]},{"id":"de814bc4d7d48374","type":"PID","z":"e0023ed90a550e0f","name":"","setpoint":"00","pb":"50","ti":"22","td":"20","integral_default":"0","smooth_factor":"0","max_interval":600,"enable":"1","disabled_op":"0","x":350,"y":260,"wires":[["6877f1ef53e98c7a"]]},{"id":"706edda38b71699b","type":"inject","z":"e0023ed90a550e0f","name":"Setpoint 10","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"setpoint","payload":"10","payloadType":"num","x":130,"y":300,"wires":[["de814bc4d7d48374"]]},{"id":"b832083bcba8bc29","type":"inject","z":"e0023ed90a550e0f","name":"Setpoint 0","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"setpoint","payload":"0","payloadType":"num","x":140,"y":260,"wires":[["de814bc4d7d48374"]]},{"id":"e40e119980d17c29","type":"inject","z":"e0023ed90a550e0f","name":"Setpoint -10","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"setpoint","payload":"-10","payloadType":"num","x":130,"y":220,"wires":[["de814bc4d7d48374"]]},{"id":"2db89c5893353f0e","type":"inject","z":"e0023ed90a550e0f","name":"disable","repeat":"","crontab":"","once":false,"topic":"enable","payload":"false","payloadType":"bool","x":170,"y":140,"wires":[["de814bc4d7d48374"]]},{"id":"a304c6588a64ec25","type":"inject","z":"e0023ed90a550e0f","name":"enable","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"","topic":"enable","payload":"true","payloadType":"bool","x":160,"y":80,"wires":[["de814bc4d7d48374"]]},{"id":"6877f1ef53e98c7a","type":"function","z":"e0023ed90a550e0f","name":"Trame","func":"var pourcentage = msg.payload*100;\nvar msg2={payload : pourcentage}\n\npourcentage = Math.trunc(pourcentage);\n\n\nmsg.payload = \"http://192.168.0.67/?POWER=\"+pourcentage;\n\n\nreturn [msg, msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":240,"wires":[["b8e5545d3f337bbf"],["a782c4397f537714"]]},{"id":"b8e5545d3f337bbf","type":"debug","z":"e0023ed90a550e0f","name":"S PID","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":260,"wires":[]},{"id":"12e35d6b4fd1afa2","type":"server-state-changed","z":"e0023ed90a550e0f","name":"Pu Grid","server":"45bc8be7.a4f0a4","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.mp2_grid_l1","entityidfiltertype":"exact","outputinitially":true,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":380,"wires":[[]]},{"id":"fe20b0bd6dabe58e","type":"range","z":"e0023ed90a550e0f","minin":"0","maxin":"1","minout":"0","maxout":"100","action":"scale","round":false,"property":"payload","name":"Scale power","x":530,"y":340,"wires":[[]]},{"id":"a782c4397f537714","type":"debug","z":"e0023ed90a550e0f","name":"Sortie","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":300,"wires":[]},{"id":"528a41c77fd051f6","type":"mqtt in","z":"e0023ed90a550e0f","name":"","topic":"espaltherma/ATTR","qos":"2","datatype":"auto-detect","broker":"89831f1002789b6c","nl":false,"rap":true,"rh":0,"inputs":0,"x":330,"y":460,"wires":[["782c394628d79acf","aa19e364a67c9986"]]},{"id":"782c394628d79acf","type":"debug","z":"e0023ed90a550e0f","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":540,"y":460,"wires":[]},{"id":"aa19e364a67c9986","type":"debug","z":"e0023ed90a550e0f","name":"T° Int","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload[\"Temp. ambiante intérieure (R1T)\"]","targetType":"msg","statusVal":"payload[\"Temp. ambiante intérieure (R1T)\"]","statusType":"auto","x":530,"y":500,"wires":[]}]