node-red/.flows.json.backup
[{"id":"c24c2c424bf676e5","type":"tab","label":"ECS","disabled":false,"info":"","env":[]},{"id":"e7504be75a3cbde0","type":"tab","label":"Routeur","disabled":false,"info":"","env":[]},{"id":"a74e482210368225","type":"tab","label":"Robot Husq","disabled":false,"info":"","env":[]},{"id":"b15eee11632a5b2f","type":"tab","label":"Alexa","disabled":false,"info":""},{"id":"1b51d4e1b21b46bc","type":"tab","label":"Notifi. Diverses","disabled":false,"info":"","env":[]},{"id":"580c677058b3fc4b","type":"tab","label":"Meteo","disabled":false,"info":"","env":[]},{"id":"80434e308062bad3","type":"tab","label":"Router V1","disabled":true,"info":"","env":[]},{"id":"b0aeb8f7d9c0e20b","type":"tab","label":"Gardena smart mower","disabled":true,"info":""},{"id":"12c9ac63ed800ed0","type":"subflow","name":"Subflow 1","info":"","in":[{"x":100,"y":140,"wires":[{"id":"ec719d4d.0d54f8"}]}],"out":[{"x":760,"y":320,"wires":[{"id":"ede39236.1961f8","port":0}]}]},{"id":"2923591e.104216","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"venus-ca.crt","servername":"","verifyservercert":true,"alpnprotocol":""},{"id":"45bc8be7.a4f0a4","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"404e1c1.65f5de4","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Rem81","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1c38fbb7.3f203c","type":"mqtt-broker","name":"MQTT Victron","broker":"192.168.0.86","port":"1883","tls":"2923591e.104216","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"3","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"51584e3c2cfaa393","type":"alexa-smart-home-v3-conf","username":"rem81","mqttserver":"mq-red.cb-net.co.uk","webapiurl":"red.cb-net.co.uk","contextName":"memory"},{"id":"af1b6fc455ed5ad2","type":"modbus-client","name":"Victron","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"failureLogEnabled":true,"tcpHost":"192.168.0.86","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"0x3A","unit_id":"1","commandDelay":"1","clientTimeout":"2000","reconnectOnTimeout":true,"reconnectTimeout":"5000","parallelUnitIdsAllowed":true,"showWarnings":true,"showLogs":true},{"id":"0bdb21264cfecccd","type":"ui_group","name":"Routeur V2","tab":"","order":4,"disp":true,"width":"6","collapse":false,"className":""},{"id":"13956cf323d720cd","type":"ui_group","name":"CP","tab":"","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"89831f1002789b6c","type":"mqtt-broker","name":"","broker":"192.168.0.37","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"378299f3e47d4d20","type":"ui_group","name":"Simulation","tab":"","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"cc607a8997ed764b","type":"ui_group","name":"regul","tab":"","order":1,"disp":true,"width":"9","collapse":false,"className":""},{"id":"204b441c5739e272","type":"ui_group","name":"Default","tab":"","order":5,"disp":true,"width":"6","collapse":false,"className":""},{"id":"bd6914609246f6ae","type":"ui_group","name":"Default","tab":"","order":6,"disp":true,"width":"6","collapse":false,"className":""},{"id":"366fc8ec61d5b5da","type":"ui_spacer","z":"80434e308062bad3","name":"spacer","group":"204b441c5739e272","order":5,"width":1,"height":1},{"id":"6779d15193c6c392","type":"ha-entity-config","server":"45bc8be7.a4f0a4","deviceConfig":"48944942fa927bbe","name":"Robot Temps usage lames","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Robot Temps usage lames"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"duration"},{"property":"unit_of_measurement","value":"h"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"48944942fa927bbe","type":"ha-device-config","name":"Robot AM435X AWD","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"e7fab55faa524b31","type":"ha-entity-config","server":"45bc8be7.a4f0a4","deviceConfig":"48944942fa927bbe","name":"Robot Activite","version":"6","entityType":"text","haConfig":[{"property":"name","value":"Robot Activite"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"mode","value":"text"},{"property":"min_length","value":""},{"property":"max_length","value":""},{"property":"pattern","value":""}],"resend":false,"debugEnabled":false},{"id":"e5d234746670cd80","type":"ha-entity-config","server":"45bc8be7.a4f0a4","deviceConfig":"6c8784dd509a7eb6","name":"MP2 Cible SOC","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"MP2 Cible SOC Calcule"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"battery"},{"property":"unit_of_measurement","value":"%"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"f9645b92b6e522d7","type":"ha-entity-config","server":"45bc8be7.a4f0a4","deviceConfig":"48944942fa927bbe","name":"Robot Niveau Batterie","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Robot Niveau Batterie"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"battery"},{"property":"unit_of_measurement","value":"%"},{"property":"state_class","value":"measurement"}],"resend":false,"debugEnabled":false},{"id":"404217bb72f507e1","type":"ha-entity-config","server":"45bc8be7.a4f0a4","deviceConfig":"48944942fa927bbe","name":"Robot Temps usage lames atteint","version":"6","entityType":"binary_sensor","haConfig":[{"property":"name","value":"Robot Temps usage lames atteint"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"problem"}],"resend":false,"debugEnabled":false},{"id":"9de243f15a5f25bd","type":"ha-entity-config","server":"45bc8be7.a4f0a4","deviceConfig":"48944942fa927bbe","name":"Robot Code Erreur","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Robot Code Erreur"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"739d0ab13ab27050","type":"ha-entity-config","server":"45bc8be7.a4f0a4","deviceConfig":"48944942fa927bbe","name":"Robot Texte Erreur","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Robot Texte Erreur"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"2ffc9eec9d9eb717","type":"ha-entity-config","server":"45bc8be7.a4f0a4","deviceConfig":"48944942fa927bbe","name":"Robot NB charges batterie","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Robot NB charges batterie"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"14b9f780c3b659e4","type":"ha-entity-config","server":"45bc8be7.a4f0a4","deviceConfig":"48944942fa927bbe","name":"Robot temps total charge batteries","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Robot temps total charge batteries"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"duration"},{"property":"unit_of_measurement","value":"d"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"c48aa9bfbb417748","type":"ha-entity-config","server":"45bc8be7.a4f0a4","deviceConfig":"48944942fa927bbe","name":"Robot etat passe outre","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Robot etat passe outre"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"30bb56f858cdb1cc","type":"ha-entity-config","server":"45bc8be7.a4f0a4","deviceConfig":"48944942fa927bbe","name":"Robot Raison pass outre","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Robot Raison passe outre"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"e26f39bc855abe76","type":"ha-entity-config","server":"45bc8be7.a4f0a4","deviceConfig":"48944942fa927bbe","name":"Robot Heure prochain demarrage","version":"6","entityType":"text","haConfig":[{"property":"name","value":"Robot Heure prochain demarrage"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"mode","value":"text"},{"property":"min_length","value":""},{"property":"max_length","value":""},{"property":"pattern","value":""}],"resend":false,"debugEnabled":false},{"id":"09b59215f38689ea","type":"ha-entity-config","server":"45bc8be7.a4f0a4","deviceConfig":"48944942fa927bbe","name":"Robot Hauteur Coupe","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Robot Hauteur Coupe"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"d7deab3b6bf350a8","type":"ha-entity-config","server":"45bc8be7.a4f0a4","deviceConfig":"48944942fa927bbe","name":"Robot heure Prochain Demarrage","version":"6","entityType":"text","haConfig":[{"property":"name","value":""},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"mode","value":"text"},{"property":"min_length","value":""},{"property":"max_length","value":""},{"property":"pattern","value":""}],"resend":false,"debugEnabled":false},{"id":"fbf2410fce1d4d75","type":"ha-entity-config","server":"45bc8be7.a4f0a4","deviceConfig":"48944942fa927bbe","name":"Robot heure prochain demarrage","version":"6","entityType":"text","haConfig":[{"property":"name","value":"Robot heure prochain demarrage"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"mode","value":"text"},{"property":"min_length","value":""},{"property":"max_length","value":""},{"property":"pattern","value":""}],"resend":false,"debugEnabled":false},{"id":"c06ae50d25527eaf","type":"ha-entity-config","server":"45bc8be7.a4f0a4","deviceConfig":"48944942fa927bbe","name":"Robot Activité","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Robot Activité"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"7a62b52bceaaef62","type":"ha-entity-config","server":"45bc8be7.a4f0a4","deviceConfig":"48944942fa927bbe","name":"Robot Heure Prochain Départ","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Robot Heure Prochain Départ"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"9a806d484c4abcc2","type":"ha-entity-config","server":"45bc8be7.a4f0a4","deviceConfig":"48944942fa927bbe","name":"Robot temps total coupe","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Robot temps total coupe"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"duration"},{"property":"unit_of_measurement","value":"h"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"13d763340f510227","type":"ha-entity-config","server":"45bc8be7.a4f0a4","deviceConfig":"48944942fa927bbe","name":"Robot temps total fonctionnement","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Robot temps total fonctionnement"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"duration"},{"property":"unit_of_measurement","value":"h"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"a070cd29d87d2b0a","type":"ha-entity-config","server":"45bc8be7.a4f0a4","deviceConfig":"","name":"Robot temps total recherche","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Robot temps total recherche"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"duration"},{"property":"unit_of_measurement","value":"h"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"fba72586aef92101","type":"ha-entity-config","server":"45bc8be7.a4f0a4","deviceConfig":"48944942fa927bbe","name":"Robot temps total charge batteries","version":"6","entityType":"sensor","haConfig":[{"property":"name","value":"Robot temps total charge batteries"},{"property":"icon","value":""},{"property":"entity_category","value":""},{"property":"entity_picture","value":""},{"property":"device_class","value":"duration"},{"property":"unit_of_measurement","value":"h"},{"property":"state_class","value":""}],"resend":false,"debugEnabled":false},{"id":"6c8784dd509a7eb6","type":"ha-device-config","name":"MP2 NodeRed Victron","hwVersion":"","manufacturer":"Node-RED","model":"","swVersion":""},{"id":"6a809bf788f1f23f","type":"ui_tab","name":"Robot","icon":"dashboard","disabled":false,"hidden":false},{"id":"d60ee5cc5d69db75","type":"ui_group","name":"Status","tab":"6a809bf788f1f23f","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"2cb9704b9703ce5b","type":"global-config","name":"global-config","env":[{"name":"test","value":"10","type":"num"}]},{"id":"0523c6e7da0fd66a","type":"ui_tab","name":"ECS","icon":"dashboard","disabled":false,"hidden":false},{"id":"ae112a68325bf844","type":"ui_group","name":"Default","tab":"0523c6e7da0fd66a","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"2ec00861c2e57b86","type":"telegram client config","botname":"rem81","verboselogging":false,"loginmode":"user","useproxy":false,"usewss":false,"host":"","sockstype":"5","port":"6667","username":"anonymous","password":"","secret":"","mtproxy":false,"timeout":"2"},{"id":"2c5088ebae4d463e","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"b97e9b6fa2a7f268","type":"telegram bot","botname":"@rem81bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksprotocol":"socks5","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"9852e93e7fb4fe70","type":"ui_group","name":"Mower","tab":"cfc2786282105f1c","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"cfc2786282105f1c","type":"ui_tab","name":"Mower","icon":"mi-grass","order":7,"disabled":false,"hidden":false},{"id":"8448d19a.8ec28","type":"ui_group","name":"Inputs","tab":"","order":2,"disp":true,"width":"12","collapse":false},{"id":"66d80aab.85fa1c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"true","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3350c8e.cd02338","type":"ui_group","name":"Auth Token","tab":"","order":1,"disp":true,"width":"12","collapse":true},{"id":"6fe02ac5.5bbff4","type":"ui_group","name":"Courbes","tab":"","order":3,"disp":true,"width":"24","collapse":false},{"id":"d006e09f.b7eb4","type":"ui_spacer","name":"spacer","group":"3350c8e.cd02338","order":2,"width":"12","height":"2"},{"id":"7fe4b5c3.32e58c","type":"function","z":"12c9ac63ed800ed0","name":"30 sec RC + 20","func":"// Applies a simple RC low pass filter to incoming payload values\nvar tc = 30*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue + 20;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":240,"wires":[["ae1a6e5.d4c0d9"]]},{"id":"1bacd004.9753c","type":"inject","z":"12c9ac63ed800ed0","name":"Inject -0.2 at start","repeat":"","crontab":"","once":true,"topic":"","payload":"-0.2","payloadType":"num","x":188,"y":63,"wires":[["ec719d4d.0d54f8"]]},{"id":"999a52c2.f465f","type":"function","z":"12c9ac63ed800ed0","name":"10 sec RC","func":"// Applies a simple RC low pass filter to incoming payload values\nvar tc = 10*1000;       // time constant in milliseconds\n\nvar lastValue = context.get('lastValue');\nif (typeof lastValue == \"undefined\") lastValue = msg.payload;\nvar lastTime = context.get('lastTime') || null;\nvar now = new Date();\nvar currentValue = msg.payload;\nif (lastTime === null) {\n    // first time through\n    newValue = currentValue;\n} else {\n    var dt = now - lastTime;\n    var newValue;\n    \n    if (dt > 0) {\n        var dtotc = dt / tc;\n        newValue = lastValue * (1 - dtotc) + currentValue * dtotc;\n    } else {\n        // no time has elapsed leave output the same as last time\n        newValue = lastValue;\n    }\n}\ncontext.set('lastValue', newValue);\ncontext.set('lastTime', now);\n\nmsg.payload = newValue;\nreturn msg;","outputs":1,"noerr":0,"x":504.5,"y":240,"wires":[["7fe4b5c3.32e58c"]]},{"id":"ec719d4d.0d54f8","type":"delay","z":"12c9ac63ed800ed0","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":321.5,"y":137,"wires":[["ede39236.1961f8"]]},{"id":"a823c9cf.2a6178","type":"function","z":"12c9ac63ed800ed0","name":"2 msg transport delay","func":"// stores messages in a fifo until the specified number have been received, \n// then releases them as new messages are received.\n// during the filling phase the earliest message is passed on each time \n// a message is received, but it is also left in the fifo\nvar fifoMaxLength = 2;\nvar fifo = context.get('fifo') || [];\n// push the new message onto the top of the array, messages are shifted down and\n// drop off the front\nvar length = fifo.push(msg);  // returns new length\nif (length > fifoMaxLength) {\n    newMsg = fifo.shift();\n} else {\n    // not full yet, make a copy of the msg and pass it on\n    var newMsg = JSON.parse(JSON.stringify(fifo[0]));\n}\ncontext.set('fifo', fifo);\nreturn newMsg;","outputs":1,"noerr":0,"x":340,"y":300,"wires":[["999a52c2.f465f"]]},{"id":"ae1a6e5.d4c0d9","type":"function","z":"12c9ac63ed800ed0","name":"Clear all except payload","func":"msg2 = {payload: msg.payload};\nreturn msg2;","outputs":1,"noerr":0,"x":598.5,"y":326,"wires":[[]]},{"id":"ede39236.1961f8","type":"range","z":"12c9ac63ed800ed0","minin":"0","maxin":"100","minout":"-100","maxout":"100","action":"scale","round":false,"property":"payload","name":"","x":150.5,"y":241,"wires":[["a823c9cf.2a6178"]]},{"id":"b925448b6502b217","type":"server-state-changed","z":"c24c2c424bf676e5","name":"Mode Fonctionnement ECS","server":"45bc8be7.a4f0a4","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"input_select.ecs_ssol","entityIdType":"exact","outputInitially":true,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"sauve_mode_ecs","propertyType":"flow","value":"","valueType":"entityState"}],"x":140,"y":120,"wires":[["fbfa4a47da4f289a","7d0ca340c54f74e6"]]},{"id":"0c2f23c1d4c6eb61","type":"server-state-changed","z":"c24c2c424bf676e5","name":"Temperature ECS","server":"45bc8be7.a4f0a4","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"sensor.esp126_temp_ecs","entityIdType":"exact","outputInitially":true,"stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"sauve_temp_ecs","propertyType":"flow","value":"","valueType":"entityState"}],"x":110,"y":180,"wires":[["c33e737f79ec1b72","e449ac318da778cc","fbfa4a47da4f289a"]]},{"id":"cade9384c6527f14","type":"server-state-changed","z":"c24c2c424bf676e5","name":"Seuil Haut Temp ECS","server":"45bc8be7.a4f0a4","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"input_number.ecs_seuil_haut_temp","entityIdType":"exact","outputInitially":true,"stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"sauve_seuil_haut_temp_ecs","propertyType":"flow","value":"","valueType":"entityState"}],"x":120,"y":300,"wires":[["fbfa4a47da4f289a"]]},{"id":"a63c94c38d4d1685","type":"server-state-changed","z":"c24c2c424bf676e5","name":"Seuil bas Temp ECS","server":"45bc8be7.a4f0a4","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"input_number.ecs_seuil_bas_temp","entityIdType":"exact","outputInitially":true,"stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"sauve_seuil_bas_temp_ecs","propertyType":"flow","value":"","valueType":"entityState"}],"x":110,"y":240,"wires":[["fbfa4a47da4f289a"]]},{"id":"a876f3d264c90c48","type":"api-call-service","z":"c24c2c424bf676e5","name":"Script ECS Off","server":"45bc8be7.a4f0a4","version":5,"debugenabled":false,"domain":"script","service":"ecs_off_off","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":680,"y":100,"wires":[["24a0892b4701cea4"]]},{"id":"8f9e12b0e5d92626","type":"api-call-service","z":"c24c2c424bf676e5","name":"Script ECS Reseau","server":"45bc8be7.a4f0a4","version":5,"debugenabled":false,"domain":"script","service":"ecs_on","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":240,"wires":[["575325298cb38e2d"]]},{"id":"ce2f8eb2f9110f5a","type":"api-call-service","z":"c24c2c424bf676e5","name":"Script ECS Routeur","server":"45bc8be7.a4f0a4","version":5,"debugenabled":false,"domain":"script","service":"ecs_off","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":360,"wires":[["7a015ce145ef5ac1"]]},{"id":"fbfa4a47da4f289a","type":"function","z":"c24c2c424bf676e5","name":"Automs","func":"//\nlet mode_ecs = flow.get('sauve_mode_ecs')\nlet temp_ecs = flow.get('sauve_temp_ecs')\nlet hor_reseau = flow.get('sauve_horloge_reseau')\nlet hor_pv = flow.get('sauve_horloge_pv')\nlet sb = flow.get(\"sauve_seuil_bas_temp_ecs\");\nlet sh = flow.get(\"sauve_seuil_haut_temp_ecs\");\nlet pu_prod = global.get('sos_pu_prod')\n\nvar at = { payload: \"off\" };\nvar ma= { payload: \"on\" };\nvar pv= {payload: \"on\"}; //\n\n\n// Force le script OFF\nif (mode_ecs === \"At Forcé\") {\n    return [ma,null,null];\n}\n// Force le script ECS Réseau\nif (mode_ecs === \"Ma Forcée\") {\n    return [null,ma,null];\n}\n// Active le script ECS Réseau\nif (mode_ecs === \"Auto\" && hor_reseau===1) {\n    if (temp_ecs < sb){\n      return [null,ma,null]; // si Temp < seuil bas Alors on active relais ecs\n      } else if (temp_ecs > sh){\n        return [ma,null,null];\n      } // si Temp > seuil haut Alors on desactive relais ecs\n    }\n\n// Active le script PV\nif (mode_ecs === \"Auto\" && hor_pv===1){\n    if (pu_prod > 300){ \n        return [null,null,ma];\n        } else {\n        return [ma,null,null];\n        }\n    }\n\n// Active le script OFF en auto\nif (mode_ecs === \"Auto\" && hor_pv === 0 && hor_reseau === 0) {\n    return [ma,null,null];\n}\n","outputs":3,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":260,"wires":[["a876f3d264c90c48"],["8f9e12b0e5d92626"],["ce2f8eb2f9110f5a"]],"outputLabels":["Relais ECS Off","Relais ECS Reseau On","Relais ECS Router On"]},{"id":"24a0892b4701cea4","type":"debug","z":"c24c2c424bf676e5","name":"debug 29","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":680,"y":180,"wires":[]},{"id":"575325298cb38e2d","type":"debug","z":"c24c2c424bf676e5","name":"debug 30","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":680,"y":300,"wires":[]},{"id":"7a015ce145ef5ac1","type":"debug","z":"c24c2c424bf676e5","name":"debug 31","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":700,"y":440,"wires":[]},{"id":"548f33ba7cabf866","type":"change","z":"c24c2c424bf676e5","name":"Sos Horloge","rules":[{"t":"set","p":"sauve_horloge_reseau","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":380,"wires":[["fbfa4a47da4f289a","1982d02af02914bf"]]},{"id":"f7221932a2143877","type":"change","z":"c24c2c424bf676e5","name":"Sos Horloge PV","rules":[{"t":"set","p":"sauve_horloge_pv","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":460,"wires":[["8703e8562d34bbdb","fbfa4a47da4f289a"]]},{"id":"1982d02af02914bf","type":"debug","z":"c24c2c424bf676e5","name":"debug 32","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":500,"y":380,"wires":[]},{"id":"8703e8562d34bbdb","type":"debug","z":"c24c2c424bf676e5","name":"debug 33","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":520,"y":460,"wires":[]},{"id":"58f4ea1386e62b90","type":"bigtimer","z":"c24c2c424bf676e5","outtopic":"","outpayload1":"","outpayload2":"","name":"Horloge Alim par PV","comment":"","lat":"43.91905434993742","lon":"2.1979451056884747","starttime":"5003","endtime":"5004","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":120,"y":460,"wires":[[],["f7221932a2143877"],[]]},{"id":"ce2cc412490a16d7","type":"bigtimer","z":"c24c2c424bf676e5","outtopic":"","outpayload1":"","outpayload2":"","name":"Horloge Alim par Reseau","comment":"","lat":"43.91905434993742","lon":"2.1979451056884747","starttime":"0","endtime":"180","starttime2":"0","endtime2":"0","startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":130,"y":380,"wires":[[],["548f33ba7cabf866"],[]]},{"id":"c33e737f79ec1b72","type":"ui_gauge","z":"c24c2c424bf676e5","name":"","group":"ae112a68325bf844","order":0,"width":0,"height":0,"gtype":"gage","title":"Temp","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":350,"y":180,"wires":[]},{"id":"7d0ca340c54f74e6","type":"ui_text","z":"c24c2c424bf676e5","group":"ae112a68325bf844","order":1,"width":0,"height":0,"name":"","label":"Mode","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":16,"color":"#000000","x":350,"y":120,"wires":[]},{"id":"e449ac318da778cc","type":"ui_chart","z":"c24c2c424bf676e5","name":"","group":"ae112a68325bf844","order":2,"width":0,"height":0,"label":"Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":470,"y":180,"wires":[[]]},{"id":"b6b8019c4814ced3","type":"server-state-changed","z":"c24c2c424bf676e5","name":"Luminosité","server":"45bc8be7.a4f0a4","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"sensor.bh1750_illuminance","entityIdType":"exact","outputInitially":true,"stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"lux","propertyType":"flow","value":"","valueType":"entityState"}],"x":80,"y":580,"wires":[["17d4b9d388323a38"]]},{"id":"bea199eb4bea39a9","type":"server-state-changed","z":"c24c2c424bf676e5","name":"Seuil Bas Luminosité","server":"45bc8be7.a4f0a4","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"input_number.luminosite_seuil_bas","entityIdType":"exact","outputInitially":true,"stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"lsl_lux","propertyType":"flow","value":"","valueType":"entityState"}],"x":120,"y":640,"wires":[["17d4b9d388323a38"]]},{"id":"f5c17405c2d578c4","type":"server-state-changed","z":"c24c2c424bf676e5","name":"Seuil Haut Luminosité","server":"45bc8be7.a4f0a4","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"input_number.luminosite_seuil_haut","entityIdType":"exact","outputInitially":true,"stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"lsh_lux","propertyType":"flow","value":"","valueType":"entityState"}],"x":120,"y":700,"wires":[["17d4b9d388323a38"]]},{"id":"17d4b9d388323a38","type":"function","z":"c24c2c424bf676e5","name":"Automs","func":"//\nlet lux = flow.get('lux')\nlet lsl_lux = flow.get('lsl_lux')\nlet lsh_lux = flow.get('lsh_lux')\n\nvar on= { payload: \"on\" };\n\n// Active le mode Jour\nif (lux > lsh_lux) {\n    return [on,null];\n}\n// Active le mode Nuit\nif (lux < lsl_lux) {\n    return [null,on];\n}","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":640,"wires":[["421e00a2a9a11c1f"],["e846f4960e3bf2f4"]],"outputLabels":["Jour","Nuit"]},{"id":"e846f4960e3bf2f4","type":"api-call-service","z":"c24c2c424bf676e5","name":"Switch Nuit/Jour => Nuit=>0","server":"45bc8be7.a4f0a4","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.nuit_jour"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":700,"wires":[[]]},{"id":"421e00a2a9a11c1f","type":"api-call-service","z":"c24c2c424bf676e5","name":"Switch Nuit/Jour => Jour=>1","server":"45bc8be7.a4f0a4","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.nuit_jour"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":620,"y":600,"wires":[[]]},{"id":"b18b37e5bb26038f","type":"comment","z":"c24c2c424bf676e5","name":"Calcul Mode Jour/Nuit","info":"","x":380,"y":540,"wires":[]},{"id":"6da637d217ca2b79","type":"comment","z":"c24c2c424bf676e5","name":"Gestion de l'ECS","info":"","x":420,"y":60,"wires":[]},{"id":"13e8f476bf72afdd","type":"server-state-changed","z":"e7504be75a3cbde0","name":"Pu production","server":"45bc8be7.a4f0a4","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"sensor.mp2_puissance_production_totale","entityIdType":"exact","outputInitially":true,"stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"sos_pu_prod","propertyType":"global","value":"","valueType":"entityState"}],"x":90,"y":180,"wires":[["1f0cfdef15735b27"]]},{"id":"d5c3084c7ce87a6e","type":"server-state-changed","z":"e7504be75a3cbde0","name":"Seuil Validation Prod","server":"45bc8be7.a4f0a4","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"input_number.mp2_seuil_pu_produite_validation_routeur","entityIdType":"exact","outputInitially":true,"stateType":"num","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"sos_seuil_prod","propertyType":"flow","value":"","valueType":"entityState"}],"x":110,"y":240,"wires":[["1f0cfdef15735b27"]]},{"id":"af9c178de89f7054","type":"server-state-changed","z":"e7504be75a3cbde0","name":"Validation NR","server":"45bc8be7.a4f0a4","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"input_boolean.validation_nr_routeur","entityIdType":"exact","outputInitially":true,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":false,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"sos_valid_nr","propertyType":"flow","value":"","valueType":"entityState"}],"x":90,"y":120,"wires":[["1f0cfdef15735b27","1a783025932368ed"]]},{"id":"daf22915c37add59","type":"api-call-service","z":"e7504be75a3cbde0","name":"Valid Routeur","server":"45bc8be7.a4f0a4","version":5,"debugenabled":false,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.esp176_validation_router"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":580,"y":100,"wires":[[]]},{"id":"6de41e7dc2dc9801","type":"api-call-service","z":"e7504be75a3cbde0","name":"DeValid Routeur","server":"45bc8be7.a4f0a4","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.esp176_validation_router"],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":580,"y":260,"wires":[[]]},{"id":"1f0cfdef15735b27","type":"function","z":"e7504be75a3cbde0","name":"Automs","func":"//\nlet pu_prod = global.get('sos_pu_prod')\nlet seuil_prod = flow.get('sos_seuil_prod')\nlet valid_nr = flow.get('sos_valid_nr')\n\nvar ma= { payload: \"on\" };\n\n// Switch ON\nif ((pu_prod > seuil_prod) && (valid_nr === \"on\")) {\n    return [ma,null];\n} else {\n    return [null, ma];\n}\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":180,"wires":[["a123ee5f549f8339"],["6de41e7dc2dc9801"]]},{"id":"4df53963a0a7e8a4","type":"comment","z":"e7504be75a3cbde0","name":"validation Automatisme routeur PV exploité dans cerbo GX","info":"","x":390,"y":40,"wires":[]},{"id":"a78f59ff24604027","type":"inject","z":"e7504be75a3cbde0","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":500,"wires":[["89c19cede01617fa"]]},{"id":"8123a9a6b2cc8f0b","type":"debug","z":"e7504be75a3cbde0","name":"debug 36","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":520,"y":320,"wires":[]},{"id":"6a0a1053c81c63a1","type":"function","z":"e7504be75a3cbde0","name":"Message","func":"msg.method = \"sendMessage\";\nvar Message = \"Puissance de Production: \";\nMessage += msg.pu_prod;\nmsg.payload = {\n    chatId: 1109811941,\n    sentMessageId: 111,\n    type: 'message',\n    content: Message,\n};\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":440,"wires":[["19a674112a8d85a1"]]},{"id":"19a674112a8d85a1","type":"telegram sender","z":"e7504be75a3cbde0","name":"","bot":"b97e9b6fa2a7f268","haserroroutput":false,"outputs":1,"x":610,"y":440,"wires":[[]]},{"id":"89c19cede01617fa","type":"api-current-state","z":"e7504be75a3cbde0","name":"Prod","server":"2c5088ebae4d463e","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.mp2_puissance_production_totale","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"pu_prod","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":230,"y":460,"wires":[["6a0a1053c81c63a1"]]},{"id":"3886ccec953b3b21","type":"telegram command","z":"e7504be75a3cbde0","name":"Télégram Commande bat","command":"bat","description":"","registercommand":false,"language":"","scope":"default","bot":"b97e9b6fa2a7f268","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":170,"y":320,"wires":[["8123a9a6b2cc8f0b"],["98c17a2b68767ae6"]]},{"id":"98c17a2b68767ae6","type":"debug","z":"e7504be75a3cbde0","name":"debug 38","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":520,"y":360,"wires":[]},{"id":"1a783025932368ed","type":"debug","z":"e7504be75a3cbde0","name":"debug 49","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":340,"y":100,"wires":[]},{"id":"a123ee5f549f8339","type":"delay","z":"e7504be75a3cbde0","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":640,"y":160,"wires":[["daf22915c37add59"]]},{"id":"ec4f37957f88a213","type":"inject","z":"a74e482210368225","name":"InitialToken","props":[],"repeat":"1800","crontab":"","once":true,"onceDelay":"5","topic":"","x":130,"y":60,"wires":[["5a76f5f24753307f"]]},{"id":"ef52311e418fa6cd","type":"http request","z":"a74e482210368225","name":"http request","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":90,"y":780,"wires":[["1c85b2910f1c6f49","9a8a81a102fe4394","679ee3366217b72b","704282f41a91ed65"]]},{"id":"6b818ceca37c4778","type":"function","z":"a74e482210368225","name":"Get Mowers","func":"flow.set(\"access_token\", msg.oauth2Response.access_token);\nflow.set(\"refresh_token\", msg.oauth2Response.refresh_token);\nflow.set(\"user_id\", msg.oauth2Response.user_id)\n\nvar mytoken = flow.get(\"access_token\"); \nvar myapi = flow.get(\"api_key\"); \nvar url = \"https://api.amc.husqvarna.dev/v1/mowers\";\n\nmsg.headers = {\n\t'Authorization': 'Bearer '+mytoken,\n\t'Authorization-Provider': 'husqvarna',\n\t'X-Api-Key': myapi,\n\t'Content-Type': 'application/vnd.api+json',\n};\n\nmsg.url = url;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":130,"y":240,"wires":[["ef52311e418fa6cd"]]},{"id":"1c85b2910f1c6f49","type":"debug","z":"a74e482210368225","name":"P1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":820,"wires":[]},{"id":"5a76f5f24753307f","type":"function","z":"a74e482210368225","name":"Credentials","func":"flow.set(\"gard_login\", \"crochonremy@gmail.com\");\nflow.set(\"gard_pass\", \"Albi_2021@\");\nflow.set(\"api_key\", \"058b271f-7d95-40c7-a5c2-c4db9c38e8e6\");\nflow.set(\"api_secret\", \"61e2d09a-1c01-4e9a-a737-3548ce059695\");\n\n\nvar mylogin = flow.get(\"gard_login\");\nvar mypass = flow.get(\"gard_pass\"); \nvar myrefresh = flow.get(\"refresh_token\"); \nvar myapi = flow.get(\"api_key\"); \nvar mysecret = flow.get(\"api_secret\"); \nmsg.oauth2Request = {\n    \"access_token_url\": \"https://api.authentication.husqvarnagroup.dev/v1/oauth2/token\",\n    \"credentials\": {\n        \"grant_type\": \"client_credentials\",\n        \"client_id\": \"058b271f-7d95-40c7-a5c2-c4db9c38e8e6\",\n        \"client_secret\": \"61e2d09a-1c01-4e9a-a737-3548ce059695\",\n        \"scope\": \"*\"\n    },\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":130,"y":160,"wires":[["88e8d4ddd3a7e099"]]},{"id":"498b21e243819b76","type":"debug","z":"a74e482210368225","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"oauth2Response","targetType":"msg","statusVal":"","statusType":"auto","x":820,"y":160,"wires":[]},{"id":"d89c283dd29ecf4e","type":"change","z":"a74e482210368225","name":"Extract Mower activity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"data\"][0][\"attributes\"][\"mower\"].activity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":320,"wires":[["1447135b6239d80c","11ab8c0f0293b455"]]},{"id":"0d70166c691efcee","type":"ui_text","z":"a74e482210368225","group":"d60ee5cc5d69db75","order":1,"width":0,"height":0,"name":"","label":"Activité:","format":"{{msg.payload}}","layout":"row-left","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":640,"y":340,"wires":[]},{"id":"1c19f3206acd6d3f","type":"change","z":"a74e482210368225","name":"Extract Mower state","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"data\"][0][\"attributes\"][\"mower\"].state","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":360,"wires":[["953b9a9c8fc34f6f","8be5421ad9302033"]]},{"id":"0ec1d3574e80d05f","type":"ui_text","z":"a74e482210368225","group":"d60ee5cc5d69db75","order":1,"width":0,"height":0,"name":"","label":"Etat:","format":"{{msg.payload}}","layout":"row-left","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":650,"y":380,"wires":[]},{"id":"9a8a81a102fe4394","type":"function","z":"a74e482210368225","d":true,"name":"2array.of.obj","func":"var newObj = {}\nlet arr = []\nvar lastDate = 0;\nvar options = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' };\nvar lastDateFormatted = 0;\nvar system = [msg.payload.data[0].attributes.system]\nvar mower = [msg.payload.data[0].attributes.mower]\nvar battery = [msg.payload.data[0].attributes.battery]\nvar metadata = [msg.payload.data[0].attributes.metadata]\nvar planner = [msg.payload.data[0].attributes.planner]\nvar calendar = [msg.payload.data[0].attributes.calendar.tasks[0]]\n\nnewObj = { Status: \"Name: \" + system[0].name }\narr.push(newObj)\nnewObj = { Status: \"Model: \" + system[0].model }\narr.push(newObj)\nnewObj = { Status: \"Serial: \" + system[0].serialNumber }\narr.push(newObj)\n\nnewObj = { Status: \"Override: \" + planner[0].override.action }\narr.push(newObj)\n\n//Calendar\nvar cald = \"\";\nif (calendar[0].monday == true) cald = \"M\"; else cald = \"_\";\nif (calendar[0].tuesday == true) cald += \"T\"; else cald += \"_\";\nif (calendar[0].wednesday == true) cald += \"W\"; else cald += \"_\";\nif (calendar[0].thursday == true) cald += \"T\"; else cald += \"_\";\nif (calendar[0].friday == true) cald += \"F\"; else cald += \"_\";\nif (calendar[0].saturday == true) cald += \"S\"; else cald += \"_\";\nif (calendar[0].sunday == true) cald += \"S\"; else cald += \"_\";\nnewObj = { Status: \"Calendar: \" + cald }\narr.push(newObj)\n\nnewObj = { Status: \"Connected: \" + metadata[0].connected }\narr.push(newObj)\n\nlastDate = new Date(metadata[0].statusTimestamp);\nlastDateFormatted = lastDate.toLocaleDateString('nb-NO', options);\nnewObj = { Status: \"StatusTS: \" +  lastDateFormatted}\narr.push(newObj)\n\nnewObj = {Status: \"Mode: \" + mower[0].mode}\narr.push(newObj)\nnewObj = { Status: \"Activity: \" + mower[0].activity}\narr.push(newObj)\nnewObj = { Status: \"State: \" + mower[0].state }\narr.push(newObj)\nnewObj = { Status: \"ErrorCode: \" + mower[0].errorCode }\narr.push(newObj)\nlastDate = new Date(mower[0].errorCodeTimestamp);\nlastDateFormatted = lastDate.toLocaleDateString('nb-NO', options);\nnewObj = { Status: \"ErrorCodeTS: \" +  lastDateFormatted}\narr.push(newObj)\nnewObj = { Status: \"Battery: \" + battery[0].batteryPercent }\narr.push(newObj)\n\nnode.warn(arr)\nmsg.payload = arr\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":260,"wires":[["3d149980e117342a"]]},{"id":"3d149980e117342a","type":"debug","z":"a74e482210368225","d":true,"name":"P2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":260,"wires":[]},{"id":"e598a392cac372c9","type":"ui_gauge","z":"a74e482210368225","name":"","group":"d60ee5cc5d69db75","order":3,"width":0,"height":0,"gtype":"gage","title":"SOC","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":590,"y":220,"wires":[]},{"id":"df188c7b4e9dbe37","type":"change","z":"a74e482210368225","name":"Extract Mower SOC batterie","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"data\"][0][\"attributes\"][\"battery\"].batteryPercent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":440,"wires":[["e598a392cac372c9","463f71e2b2cfe1c3"]]},{"id":"d578d6265177fd55","type":"change","z":"a74e482210368225","name":"Extract Mower temps lames","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"data\"][0][\"attributes\"][\"statistics\"].cuttingBladeUsageTime","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":680,"wires":[["db71782c2c0b140a"]]},{"id":"88e8d4ddd3a7e099","type":"oauth2","z":"a74e482210368225","name":"","container":"oauth2Response","grant_type":"set_by_credentials","access_token_url":"","authorization_endpoint":"","open_authentication":"","username":"","password":"","client_id":"","client_secret":"","scope":"","proxy":"","senderr":false,"client_credentials_in_body":true,"rejectUnauthorized":true,"headers":{},"x":330,"y":160,"wires":[["6b818ceca37c4778","498b21e243819b76"]]},{"id":"db71782c2c0b140a","type":"unit-converter","z":"a74e482210368225","category":"time","inputUnit":"s","outputUnit":"h","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":false,"outputFieldDecimals":2,"statusType":"none","name":"Convertion en heure","x":520,"y":680,"wires":[["17b5474a7c65a501","582e0139a4f4a1fc","9e551daaedcc2217"]]},{"id":"17b5474a7c65a501","type":"ha-sensor","z":"a74e482210368225","name":"Robot Temps usage lame","entityConfig":"6779d15193c6c392","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":830,"y":640,"wires":[[]]},{"id":"463f71e2b2cfe1c3","type":"ha-sensor","z":"a74e482210368225","name":"Robot Niveau batterie","entityConfig":"f9645b92b6e522d7","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":820,"y":480,"wires":[[]]},{"id":"3272c8079331bff8","type":"ha-sensor","z":"a74e482210368225","name":"Robot Activite","entityConfig":"c06ae50d25527eaf","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":800,"y":300,"wires":[[]]},{"id":"8490e9ab2a51f5be","type":"ha-sensor","z":"a74e482210368225","name":"Robot State","entityConfig":"e5d234746670cd80","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":790,"y":360,"wires":[[]]},{"id":"05cac57771c7ddd8","type":"ha-binary-sensor","z":"a74e482210368225","name":"Robot Temps usage lames atteint","entityConfig":"404217bb72f507e1","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":860,"y":700,"wires":[[]]},{"id":"582e0139a4f4a1fc","type":"function","z":"a74e482210368225","name":"Seuil usage Lame","func":"if (msg.payload > 80) {\n    msg.payload = \"on\";\n} else {\n    msg.payload = \"off\";\n}\nreturn [msg]","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":720,"wires":[["05cac57771c7ddd8"]]},{"id":"c66b8add933a71fc","type":"change","z":"a74e482210368225","name":"Extract Mower Code erreur","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"data\"][0][\"attributes\"][\"mower\"].errorCode","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":720,"wires":[["42a17c5419548cf6","944d8c849d597483"]]},{"id":"42a17c5419548cf6","type":"ha-sensor","z":"a74e482210368225","name":"Robot Code Erreur","entityConfig":"9de243f15a5f25bd","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":810,"y":760,"wires":[[]]},{"id":"8be5421ad9302033","type":"debug","z":"a74e482210368225","name":"debug 18","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":440,"y":540,"wires":[]},{"id":"9c06a373b6011118","type":"ha-sensor","z":"a74e482210368225","name":"Robot Texte Erreur","entityConfig":"739d0ab13ab27050","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":810,"y":820,"wires":[[]]},{"id":"944d8c849d597483","type":"function","z":"a74e482210368225","name":"Texte Erreur","func":"var code=msg.payload;\n\n// Tableau à deux colonnes\nvar tableau = [\n    [0, \"Pas d'erreur\"],\n    [1, \"Zone de travail extérieure\"],\n    [2, \"Pas de signal de boucle\"],\n    [3, \"Mauvais signal de boucle\"],\n    [4, \"Problème de capteur de boucle, avant\"],\n    [5, \"Problème de capteur de boucle, arrière\"],\n    [6, \"Problème de capteur de boucle, gauche\"],\n    [7, \"Problème de capteur de boucle, droite\"],\n    [8, \"Code PIN erroné\"],\n    [9, \"Pris au piège\"],\n    [10, \"A l'envers\"],\n    [11, \"Batterie faible\"],\n    [12, \"Batterie vide\"],\n    [13, \"Pas de lecteur\"],\n    [14, \"Faucheuse relevée\"],\n    [15, \"Levé\"],\n    [16, \"Coincé dans la borne de recharge\"],\n    [17, \"Borne de recharge bloquée\"],\n    [18, \"Problème de capteur de collision, arrière\"],\n    [19, \"Problème de capteur de collision, avant\"],\n    [20, \"Moteur de roue bloqué, droit\"],\n    [21, \"Moteur de roue bloqué, gauche\"],\n    [22, \"Problème de roue motrice droite\"],\n    [23, \"Problème de roue motrice, gauche\"],\n    [24, \"Système de coupe bloqué\"],\n    [25, \"Système de coupe bloqué\"],\n    [26, \"Combinaison de sous-appareil invalide\"],\n    [27, \"Paramètres restaurés\"],\n    [28, \"Problème de circuit mémoire\"],\n    [29, \"Pente trop raide\"],\n    [30, \"Problème de système de charge\"],\n    [31, \"Problème bouton STOP\"],\n    [32, \"Problème de capteur d'inclinaison\"],\n    [33, \"Tondeuse inclinée\"],\n    [34, \"Coupe arrêtée - pente trop raide\"],\n    [35, \"Moteur de roue surchargé, droit\"],\n    [36, \"Moteur de roue surchargé, gauche\"],\n    [37, \"Courant de charge trop élevé\"],\n    [38, \"Problème électronique\"],\n    [39, ' Problème moteur de coupe  '],\n    [40, ' Plage de hauteur de coupe limitée'],\n    [41, ' Réglage hauteur de coupe inattendu '],\n    [42, ' Plage de hauteur de coupe limitée'],\n    [43, ' Problème de hauteur de coupe, roulez'],\n    [44, ' Problème de hauteur de coupe, courant'],\n    [45, ' Problème de hauteur de coupe, dir'],\n    [46, ' Hauteur de coupe bloquée  '],\n    [47, ' Problème de hauteur de coupe '],\n    [48, ' Pas de réponse du chargeur '],\n    [49, ' Problème d ultrasons    '],\n    [50, ' Guide 1 introuvable   '],\n    [51, ' Guide 2 introuvable   '],\n    [52, ' Guide 3 introuvable   '],\n    [53, ' Problème de navigation GPS  '],\n    [54, ' Signal GPS faible   '],\n    [55, ' Difficile de trouver sa maison '],\n    [56, ' Étalonnage du guide effectué  '],\n    [57, ' Le calibrage du guide a échoué'],\n    [58, ' Problème de batterie temporaire'],\n    [59, ' Problème de batterie temporaire'],\n    [60, ' Problème de batterie temporaire'],\n    [61, ' Problème de batterie temporaire'],\n    [62, ' Problème de batterie temporaire'],\n    [63, ' Problème de batterie temporaire'],\n    [64, ' Problème de batterie temporaire'],\n    [65, ' Problème de batterie temporaire'],\n    [66, ' Problème de batterie'],\n    [67, ' Problème de batterie'],\n    [68, ' Problème de batterie temporaire'],\n    [69, ' Alarme ! Tondeuse éteinte'],\n    [70, ' Alarme ! Tondeuse arrêtée'],\n    [71, ' Alarme ! Tondeuse relevée'],\n    [72, ' Alarme ! Tondeuse inclinée'],\n    [73, ' Alarme ! Tondeuse en mouvement '],\n    [74, ' Alarme ! Clôture géographique extérieure '],\n    [75, ' Connexion modifiée    '],\n    [76, ' Connexion NON modifiée   '],\n    [77, ' Carte com non disponible  '],\n    [78, ' Glissement - La tondeuse a glissé.Situation'],\n    [79, ' Combinaison de batteries non valide '],\n    [80, ' Déséquilibre du système de coupe Avertissement'],\n    [81, ' Fonction de sécurité défectueuse  '],\n    [82, ' Moteur de roue bloqué, arrière droit'],\n    [83, ' Moteur de roue bloqué, arrière gauche'],\n    [84, ' Problème de traction arrière droite '],\n    [85, ' Problème de roue motrice, arrière gauche'],\n    [86, ' Moteur de roue surchargé, arrière droit'],\n    [87, ' Moteur de roue surchargé, arrière gauche'],\n    [88, ' Problème de capteur angulaire  '],\n    [89, ' Configuration système invalide   '],\n    [90, ' Pas de courant dans la station'],\n    [91, ' Problème de cordon d interrupteur  '],\n    [92, ' Zone de travail non valide '],\n    [93, ' Pas de position précise des satellites'],\n    [94, ' Problème de communication avec la station'],\n    [95, ' Capteur de pliage activé  '],\n    [96, ' Moteur de brosse droite surchargé '],\n    [97, ' Moteur de brosse gauche surchargé '],\n    [98, ' Capteur à ultrasons 1 défectueux '],\n    [99, ' Capteur à ultrasons 2 défectueux '],\n    [100, ' Capteur à ultrasons 3 défectueux '],\n    [101, ' Capteur à ultrasons 4 défectueux '],\n    [102, ' Moteur d entraînement de coupe 1 défectueux'],\n    [103, ' Moteur d entraînement de coupe 2 défectueux'],\n    [104, ' Moteur d entraînement de coupe 3 défectueux'],\n    [105, ' Défaut du capteur de levage '],\n    [106, ' Capteur de collision défectueux  '],\n    [107, ' Défaut du capteur d accostage  '],\n    [108, ' Défaut du capteur du plateau de coupe repliable'],\n    [109, ' Capteur de boucle défectueux  '],\n    [110, ' Erreur du capteur de collision '],\n    [111, ' Aucune position confirmée   '],\n    [112, ' Déséquilibre majeur du système de coupe'],\n    [113, ' Zone de travail complexe  '],\n    [114, ' Courant de décharge trop élevé '],\n    [115, ' Courant interne trop élevé  '],\n    [116, ' Perte de puissance de charge élevée'],\n    [117, ' Perte de puissance interne élevée '],\n    [118, ' Problème du système de charge '],\n    [119, ' Problème de générateur de zone '],\n    [120, ' Erreur de tension interne'],\n    [121, ' Température interne élevée'],\n    [122, ' Erreur CAN'],\n    [123, ' Destination non joignable   '],\n    [124, ' Destination bloquée    '],\n    [125, ' La batterie doit être remplacée '],\n    [126, ' Batterie en fin de vie '],\n    [127, ' Problème de batterie   '],\n    [701, ' Problème de connectivité   '],\n    [702, ' Paramètres de connectivité restaurés  '],\n    [703, ' Problème de connectivité   '],\n    [704, ' Problème de connectivité   '],\n    [705, ' Problème de connectivité   '],\n    [706, ' Mauvaise qualité du signal  '],\n    [707, ' La carte SIM nécessite un code PIN'],\n    [708, ' Carte SIM verrouillée   '],\n    [709, ' Carte SIM introuvable   '],\n    [710, ' Carte SIM verrouillée   '],\n    [711, ' Carte SIM verrouillée   '],\n    [712, ' Carte SIM verrouillée   '],\n    [713, ' Problème de clôture géographique  '],\n    [714, ' Problème de clôture géographique  '],\n    [715, ' Problème de connectivité   '],\n    [716, ' Problème de connectivité   '],\n    [717, ' SMS n a pas pu être envoyé'],\n    [724, ' Le logiciel de la carte du circuit de communication doit être mis à jour     '],\n];\n\n// Fonction pour extraire la deuxième colonne en fonction de la première colonne\nfunction extraireDeuxiemeColonne(valeur) {\n    for (var i = 0; i < tableau.length; i++) {\n        if (tableau[i][0] === valeur) {\n            return tableau[i][1];\n        }\n    }\n    return \"Code Inconnu\"; // Retourne null si aucune correspondance trouvée\n}\n\n// Exemple d'utilisation\nvar valeurRecherchee = code;\nvar resultat = extraireDeuxiemeColonne(valeurRecherchee);\nmsg.payload = resultat;\n\nreturn [msg]","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":820,"wires":[["9c06a373b6011118"]]},{"id":"9e551daaedcc2217","type":"ui_text","z":"a74e482210368225","group":"d60ee5cc5d69db75","order":1,"width":0,"height":0,"name":"Nb H","label":"H Lames:","format":"{{msg.payload}}","layout":"row-left","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":770,"y":600,"wires":[]},{"id":"03f1b40c19ac3618","type":"change","z":"a74e482210368225","name":"Extract Mower Nb Charges batterie","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"data\"][0][\"attributes\"][\"statistics\"].numberOfChargingCycles","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":400,"wires":[["39a91f579d780a48","d1f1385d60d2c239"]]},{"id":"39a91f579d780a48","type":"ha-sensor","z":"a74e482210368225","name":"Robot Nb charges batterie","entityConfig":"2ffc9eec9d9eb717","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":830,"y":420,"wires":[[]]},{"id":"314d384bb09ef9d7","type":"change","z":"a74e482210368225","name":"Extract Mower Nb de collisions","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"data\"][0][\"attributes\"][\"statistics\"].numberOfCollisions","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":250,"y":480,"wires":[["f7383f8e393bf638"]]},{"id":"f7383f8e393bf638","type":"ha-sensor","z":"a74e482210368225","name":"Robot Nb de collisions","entityConfig":"14b9f780c3b659e4","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":820,"y":540,"wires":[[]]},{"id":"1447135b6239d80c","type":"function","z":"a74e482210368225","name":"Texte actvité","func":"var code=msg.payload;\n\n// Tableau à deux colonnes\nvar tableau = [\n    ['UNKNOWN', 'Activité inconnue'],\n    ['NOT_APPLICABLE', 'Démarrage manuel requis dans la tondeuse.'],\n    ['MOWING', 'Tonte en cours'],\n    ['GOING_HOME', 'Retour Station Charge'],\n    ['CHARGING', 'Charge en cours'],\n    ['LEAVING', 'Quitte station de charge.'],\n    ['PARKED_IN_CS', 'Au Garage'],\n    ['STOPPED_IN_GARDEN', 'Arret-Manu requis'],\n];\n\n// Fonction pour extraire la deuxième colonne en fonction de la première colonne\nfunction extraireDeuxiemeColonne(valeur) {\n    for (var i = 0; i < tableau.length; i++) {\n        if (tableau[i][0] === valeur) {\n            return tableau[i][1];\n        }\n    }\n    return \"Etat Inconnu\"; // Retourne null si aucune correspondance trouvée\n}\n\n// Exemple d'utilisation\nvar valeurRecherchee = code;\nvar resultat = extraireDeuxiemeColonne(valeurRecherchee);\nmsg.payload = resultat;\n\nreturn [msg]","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":620,"wires":[[]]},{"id":"6c19bd7682ab55ed","type":"debug","z":"a74e482210368225","name":"debug 19","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":460,"y":1060,"wires":[]},{"id":"33420cf7bf8f261b","type":"inject","z":"a74e482210368225","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"STOPPED","payloadType":"str","x":240,"y":620,"wires":[["1447135b6239d80c"]]},{"id":"953b9a9c8fc34f6f","type":"function","z":"a74e482210368225","name":"Texte Status","func":"var code=msg.payload;\n\n// Tableau à deux colonnes\nvar tableau = [\n    ['UNKNOWN', ' État inconnu'],\n    ['NOT_APPLICABLE', ' Non Applicable'],\n    ['PAUSED', ' Pause utilisateur'],\n    ['IN_OPERATION', ' Voir Activité'],\n    ['WAIT_UPDATING', ' Chargement firmware.'],\n    ['WAIT_POWER_UP', ' Tests mise sous tension.'],\n    ['RESTRICTED', ' AT sur Calendrier'],\n    ['OFF', ' Eteinte.'],\n    ['STOPPED', ' Action manuelle requise'],\n    ['ERROR', ' Erreur'],\n    ['FATAL_ERROR', ' Erreur'],\n    ['ERROR_AT_POWER_UP', ' Erreur'],\n];\n\n// Fonction pour extraire la deuxième colonne en fonction de la première colonne\nfunction extraireDeuxiemeColonne(valeur) {\n    for (var i = 0; i < tableau.length; i++) {\n        if (tableau[i][0] === valeur) {\n            return tableau[i][1];\n        }\n    }\n    return \"Etat Inconnu\"; // Retourne null si aucune correspondance trouvée\n}\n\n// Exemple d'utilisation\nvar valeurRecherchee = code;\nvar resultat = extraireDeuxiemeColonne(valeurRecherchee);\nmsg.payload = resultat;\n\nreturn [msg]","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":360,"wires":[["0ec1d3574e80d05f","8490e9ab2a51f5be"]]},{"id":"11ab8c0f0293b455","type":"function","z":"a74e482210368225","name":"Texte actvité","func":"var code=msg.payload;\n\n// Tableau à deux colonnes\nvar tableau = [\n    ['UNKNOWN', 'Activité inconnue'],\n    ['NOT_APPLICABLE', 'Démarrage manuel requis dans la tondeuse.'],\n    ['MOWING', 'Tonte'],\n    ['GOING_HOME', 'Retour Station Charge'],\n    ['CHARGING', 'Charge en cours'],\n    ['LEAVING', 'Quitte station de charge.'],\n    ['PARKED_IN_CS', 'Au Garage'],\n    ['STOPPED_IN_GARDEN', 'Arret-Manu requis'],\n];\n\n// Fonction pour extraire la deuxième colonne en fonction de la première colonne\nfunction extraireDeuxiemeColonne(valeur) {\n    for (var i = 0; i < tableau.length; i++) {\n        if (tableau[i][0] === valeur) {\n            return tableau[i][1];\n        }\n    }\n    return \"Etat Inconnu\"; // Retourne null si aucune correspondance trouvée\n}\n\n// Exemple d'utilisation\nvar valeurRecherchee = code;\nvar resultat = extraireDeuxiemeColonne(valeurRecherchee);\nmsg.payload = resultat;\n\nreturn [msg]","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":320,"wires":[["3272c8079331bff8","0d70166c691efcee"]]},{"id":"d1f1385d60d2c239","type":"ui_text","z":"a74e482210368225","group":"d60ee5cc5d69db75","order":1,"width":0,"height":0,"name":"","label":"NB Charges:","format":"{{msg.payload}}","layout":"row-left","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":570,"y":500,"wires":[]},{"id":"3470f711e1c995be","type":"change","z":"a74e482210368225","name":"Extract Prochain départ","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"data\"][0][\"attributes\"][\"planner\"].nextStartTimestamp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":880,"wires":[["ca4bf2a2010a4826"]]},{"id":"89ae5c22b9d1ca3a","type":"change","z":"a74e482210368225","name":"Extract Action Passe outre","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"data\"][0][\"attributes\"][\"planner\"].override.action","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":940,"wires":[["2a52f93ffde06345"]]},{"id":"45cef25d7d2981d7","type":"change","z":"a74e482210368225","name":"Extract Raison Passe outre","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"data\"][0][\"attributes\"][\"planner\"].restrictedReason","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1000,"wires":[["f98844bc671ff350","6c19bd7682ab55ed"]]},{"id":"e0395c417685a941","type":"debug","z":"a74e482210368225","name":"debug 21","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":520,"y":1200,"wires":[]},{"id":"f98844bc671ff350","type":"function","z":"a74e482210368225","name":"Texte raison passe outre","func":"var code=msg.payload;\n\n// Tableau à deux colonnes\nvar tableau = [\n    ['NONE',\"Aucune raison restreinte.\"],\n    ['WEEK_SCHEDULE',\"Il n'y a pas de tâche dans le calendrier pour le moment, rien à faire.\"],\n    ['PARK_OVERRIDE',\"La restriction est due au fait que quelqu'un nous a forcés à nous garer en utilisant la fonction de dérogation.\"],\n    ['SENSOR',\"Le capteur a décidé que l'herbe est assez courte, il n'est donc pas nécessaire de l'user encore plus.\"],\n    ['DAILY_LIMIT',\"Si un modèle a un temps de tonte maximal autorisé par jour, cette restriction s'appliquera lorsque ce temps sera écoulé.\"],\n    ['FOTA',\"Lorsqu'une mise à jour Fota est transférée sur la tondeuse, nous voulons rester dans la station de charge pour nous assurer que le transfert est réussi.La restriction est supprimée lorsque le transfert est effectué.\"],\n    ['FROST',\"Le capteur de gel pense qu'il fait trop froid pour tondre.\"],\n];\n\n// Fonction pour extraire la deuxième colonne en fonction de la première colonne\nfunction extraireDeuxiemeColonne(valeur) {\n    for (var i = 0; i < tableau.length; i++) {\n        if (tableau[i][0] === valeur) {\n            return tableau[i][1];\n        }\n    }\n    return \"Non Applicable\"; // Retourne null si aucune correspondance trouvée\n}\n\n// Exemple d'utilisation\nvar valeurRecherchee = code;\nvar resultat = extraireDeuxiemeColonne(valeurRecherchee);\nmsg.payload = resultat;\n\nreturn [msg]","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":1000,"wires":[["16dc6c0c821ca62f"]]},{"id":"2a52f93ffde06345","type":"function","z":"a74e482210368225","name":"Etat passe outre","func":"var code=msg.payload;\n\n// Tableau à deux colonnes\nvar tableau = [\n    ['NOT_ACTIVE','Non actif.'],\n    ['FORCE_PARK',\"Le stationnement forcé jusqu'au prochain démarrage signifie qu'aucune autre tonte ne sera effectuée dans la tâche en cours. L'opération reprendra au début de la tâche suivante à la place.\"],\n    ['FORCE_MOW',\"Forcez la tondeuse à tondre pendant la durée spécifiée. Lorsque le temps s'est écoulé, le remplacement est supprimé et le planificateur revient au calendrier à la place.\"],\n];\n\n// Fonction pour extraire la deuxième colonne en fonction de la première colonne\nfunction extraireDeuxiemeColonne(valeur) {\n    for (var i = 0; i < tableau.length; i++) {\n        if (tableau[i][0] === valeur) {\n            return tableau[i][1];\n        }\n    }\n    return \"Etat Inconnu\"; // Retourne null si aucune correspondance trouvée\n}\n\n// Exemple d'utilisation\nvar valeurRecherchee = code;\nvar resultat = extraireDeuxiemeColonne(valeurRecherchee);\nmsg.payload = resultat;\n\nreturn [msg]","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":500,"y":940,"wires":[["375d1d7a3bef28da"]]},{"id":"375d1d7a3bef28da","type":"ha-sensor","z":"a74e482210368225","name":"Robot Etat passe outre","entityConfig":"c48aa9bfbb417748","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":820,"y":940,"wires":[[]]},{"id":"16dc6c0c821ca62f","type":"ha-sensor","z":"a74e482210368225","name":"Robot Raison passe outre","entityConfig":"30bb56f858cdb1cc","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":830,"y":1000,"wires":[[]]},{"id":"ca4bf2a2010a4826","type":"change","z":"a74e482210368225","name":"","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":880,"wires":[["4fda64fd1842643b"]]},{"id":"679ee3366217b72b","type":"change","z":"a74e482210368225","name":"Extract Hauteur coupe","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"data\"][0][\"attributes\"][\"settings\"].cuttingHeight","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":1160,"wires":[["eb1ea519d4a68583"]]},{"id":"eb1ea519d4a68583","type":"ha-sensor","z":"a74e482210368225","name":"Robot Hauteur Coupe","entityConfig":"09b59215f38689ea","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":740,"y":1160,"wires":[[]]},{"id":"4fda64fd1842643b","type":"function","z":"a74e482210368225","name":"timeConvert","func":"if ( !msg.timestamp ) msg.timestamp = Math.round(+new Date());\nvar options = {\n    year: \"2-digit\", month: \"2-digit\", day: \"2-digit\",\n    hour: \"2-digit\", minute: \"2-digit\"\n};\nvar dt = new Intl.DateTimeFormat(\"fr-FR\", options).format(msg.timestamp);\n//var dt = (dateHeurefr(msg.timestamp));\n//var dt = new Date(msg.timestamp);\n\nmsg.payload= dt;\nreturn [msg];\n\n//var options = {\n//    year: \"2-digit\", month: \"2-digit\", day: \"2-digit\",\n//    hour: \"2-digit\", minute: \"2-digit\", timeZoneName: \"short\"\n//};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":880,"wires":[["54ae01e257c835d5"]]},{"id":"54ae01e257c835d5","type":"ha-sensor","z":"a74e482210368225","name":"Robot Heure Prochain Départ","entityConfig":"7a62b52bceaaef62","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":870,"y":880,"wires":[[]]},{"id":"3ba456c33f9f12c1","type":"change","z":"a74e482210368225","name":"Extract temps total charge batteries","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"data\"][0][\"attributes\"][\"statistics\"].totalChargingTime","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":1240,"wires":[["010ba4deb33e4b5e","dab743dccd24bfcd"]]},{"id":"374b4da072f58017","type":"change","z":"a74e482210368225","name":"Extract temps total coupe","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"data\"][0][\"attributes\"][\"statistics\"].totalCuttingTime","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":230,"y":1300,"wires":[["0cc9a57ed218830f"]]},{"id":"ae8bf14b1172fbfe","type":"change","z":"a74e482210368225","name":"Extract temps total fonctionnement","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"data\"][0][\"attributes\"][\"statistics\"].totalRunningTime","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":1360,"wires":[["f91e5c408ba09f0e"]]},{"id":"a08c59c68fb08c0d","type":"change","z":"a74e482210368225","name":"Extract temps total recherche","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[\"data\"][0][\"attributes\"][\"statistics\"].totalSearchingTime","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":1420,"wires":[["7decf8cf621361c4"]]},{"id":"b8ed704d54ee675b","type":"ha-sensor","z":"a74e482210368225","name":"Robot temps total coupe","entityConfig":"9a806d484c4abcc2","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":750,"y":1300,"wires":[[]]},{"id":"9b442e39245acf9e","type":"ha-sensor","z":"a74e482210368225","name":"Robot temps total fonctionnement","entityConfig":"13d763340f510227","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":780,"y":1360,"wires":[[]]},{"id":"ecb76fdd51a539ad","type":"ha-sensor","z":"a74e482210368225","name":"Robot temps total recherche","entityConfig":"a070cd29d87d2b0a","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":760,"y":1420,"wires":[[]]},{"id":"010ba4deb33e4b5e","type":"unit-converter","z":"a74e482210368225","category":"time","inputUnit":"s","outputUnit":"h","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":false,"outputFieldDecimals":2,"statusType":"none","name":"Convertion en heure","x":520,"y":1240,"wires":[["5ced91a9eaf2ad66"]]},{"id":"dab743dccd24bfcd","type":"function","z":"a74e482210368225","name":"function 7","func":"var secs = msg.payload;\nvar hours = Math.floor(secs / (60 * 60));\n\nvar divisor_for_minutes = secs % (60 * 60);\nvar minutes = Math.floor(divisor_for_minutes / 60);\n\nvar divisor_for_seconds = divisor_for_minutes % 60;\nvar seconds = Math.ceil(divisor_for_seconds);\n/*ww w.  j  av  a 2s .co m*/\nvar obj = hours+\":\"+minutes+\":\"+seconds;\nmsg.payload = obj;\nreturn [msg]","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":1200,"wires":[["e0395c417685a941"]]},{"id":"0cc9a57ed218830f","type":"unit-converter","z":"a74e482210368225","category":"time","inputUnit":"s","outputUnit":"h","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":2,"statusType":"none","name":"Convertion en heure","x":520,"y":1300,"wires":[["b8ed704d54ee675b"]]},{"id":"f91e5c408ba09f0e","type":"unit-converter","z":"a74e482210368225","category":"time","inputUnit":"s","outputUnit":"h","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":false,"outputFieldDecimals":2,"statusType":"none","name":"Convertion en heure","x":520,"y":1360,"wires":[["9b442e39245acf9e"]]},{"id":"7decf8cf621361c4","type":"unit-converter","z":"a74e482210368225","category":"time","inputUnit":"s","outputUnit":"h","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":false,"outputFieldDecimals":2,"statusType":"none","name":"Convertion en heure","x":520,"y":1420,"wires":[["ecb76fdd51a539ad"]]},{"id":"5ced91a9eaf2ad66","type":"ha-sensor","z":"a74e482210368225","name":"Robot temps total charge batteries","entityConfig":"fba72586aef92101","version":0,"state":"payload","stateType":"msg","attributes":[],"inputOverride":"allow","outputProperties":[],"x":780,"y":1240,"wires":[[]]},{"id":"3015ad156227f037","type":"comment","z":"a74e482210368225","name":"Retour base si trop de pluie","info":"","x":440,"y":1500,"wires":[]},{"id":"efba3784944d81bd","type":"server-state-changed","z":"a74e482210368225","name":"Seuil Vp2 Pluvio","server":"45bc8be7.a4f0a4","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"input_number.seuil_pluie_stop_robot","entityIdType":"exact","outputInitially":true,"stateType":"str","ifState":"","ifStateType":"entity","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"hours","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"seuil","propertyType":"flow","value":"","valueType":"entityState"}],"x":120,"y":1620,"wires":[["57dd88152fa9339f"]]},{"id":"57dd88152fa9339f","type":"function","z":"a74e482210368225","d":true,"name":"Message","func":"let pluvio = flow.get('pluvio')\nlet seuil = flow.get('seuil')\nvar mflag;\nvar flag;\nif (global.get('mflag') === undefined) {\n    global.set('mflag', 0);\n}\nflag = global.get('mflag');\n\n// Le Flag sert à emetre les ordres une seule fois\n\nif ((pluvio > seuil) && (flag==0))  {\n  msg.method = \"sendMessage\";\n  var Message1 = \"Ordre retour Robot à la Base!!\";\n  Message1 += \"\\n\";\n  Message1 += \"Pluvio Moyenne 12h =\";\n  Message1 += pluvio;\n  Message1 += \"\\n\";\n  Message1 += \"Seuil Stop robot=\";\n  Message1 += seuil;\n  msg.payload = {\n  chatId: 1109811941,\n  sentMessageId: 111,\n  type: 'message',\n  content: Message1,};\n  flag=1;\n  return [msg,null];\n} \n\nif ((pluvio < seuil) && (flag==1)) {\n  msg.method = \"sendMessage\";\n  var Message1 = \"Fin Ordre Retour Robot à la Base!!\";\n  Message1 += \"\\n\";\n  Message1 += \"Pluvio Moyenne 12h =\";\n  Message1 += pluvio;\n  Message1 += \"\\n\";\n  Message1 += \"Seuil Stop robot=\";\n  Message1 += seuil;\n  msg.payload = {\n  chatId: 1109811941,\n  sentMessageId: 111,\n  type: 'message',\n  content: Message1,};\n  flag=0\n  return [null, msg];\n}\n","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":1580,"wires":[["6cc88f51ca26304f","5ae3bc49f3229874"],["7eb3c397cf9ffa9e","5ae3bc49f3229874"]],"outputLabels":["Ordre Arret","Reprise PGM"]},{"id":"5ae3bc49f3229874","type":"telegram sender","z":"a74e482210368225","name":"","bot":"b97e9b6fa2a7f268","haserroroutput":false,"outputs":1,"x":630,"y":1640,"wires":[[]]},{"id":"2a4149adceaa4a3c","type":"server-state-changed","z":"a74e482210368225","name":"Vp2 Pluvio Moyenne 6h","server":"45bc8be7.a4f0a4","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"sensor.vp2_pluviometrie_moyenne","entityIdType":"exact","outputInitially":true,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"hours","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"pluvio","propertyType":"flow","value":"","valueType":"entityState"}],"x":140,"y":1560,"wires":[["57dd88152fa9339f"]]},{"id":"704282f41a91ed65","type":"link out","z":"a74e482210368225","name":"link out 1","mode":"link","links":["a24524e592c3d9fd","a1f5f89cbd865e52","1d069cb0b44e2883","637adc3be46a7dbd"],"x":285,"y":780,"wires":[]},{"id":"a24524e592c3d9fd","type":"link in","z":"a74e482210368225","name":"link in 1","links":["704282f41a91ed65"],"x":45,"y":420,"wires":[["d89c283dd29ecf4e","1c19f3206acd6d3f","03f1b40c19ac3618","df188c7b4e9dbe37","314d384bb09ef9d7"]]},{"id":"a1f5f89cbd865e52","type":"link in","z":"a74e482210368225","name":"link in 2","links":["704282f41a91ed65"],"x":45,"y":700,"wires":[["d578d6265177fd55","c66b8add933a71fc"]]},{"id":"1d069cb0b44e2883","type":"link in","z":"a74e482210368225","name":"link in 3","links":["704282f41a91ed65"],"x":35,"y":940,"wires":[["3470f711e1c995be","89ae5c22b9d1ca3a","45cef25d7d2981d7"]]},{"id":"637adc3be46a7dbd","type":"link in","z":"a74e482210368225","name":"link in 4","links":["704282f41a91ed65"],"x":45,"y":1340,"wires":[["3ba456c33f9f12c1","374b4da072f58017","ae8bf14b1172fbfe","a08c59c68fb08c0d"]]},{"id":"886d9fa69196de2b","type":"link in","z":"a74e482210368225","name":"link in 5","links":["a8be2bc725b689ca"],"x":285,"y":100,"wires":[["5a76f5f24753307f"]]},{"id":"159f881760df68d1","type":"http request","z":"a74e482210368225","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":890,"y":1580,"wires":[["fa76f63d6eddb817"]]},{"id":"6cc88f51ca26304f","type":"function","z":"a74e482210368225","name":"Garez la tondeuse pour toujours","func":"// https://developer.husqvarnagroup.cloud/apis/automower-connect-api?tab=openapi\nvar mytoken = flow.get(\"access_token\"); \nvar myapi = flow.get(\"api_key\"); \n// Garez la tondeuse pour toujours. Doit être redémarré manuellement.\nmsg.payload = {\n    data: {\n      type: 'ParkUntilFurtherNotice'\n    }\n};\n\nmsg.headers = {\n\t'Authorization': 'Bearer '+mytoken,\n\t'Authorization-Provider': 'husqvarna',\n\t'X-Api-Key': myapi,\n\t'Content-Type': 'application/vnd.api+json',\n};\n\nvar url = \"https://api.amc.husqvarna.dev/v1/mowers/88fc5229-3d08-4c3f-adc9-b78d9863d1a1/actions\";\nmsg.url = url;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":1580,"wires":[["159f881760df68d1"]]},{"id":"fa76f63d6eddb817","type":"debug","z":"a74e482210368225","name":"debug 48","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":940,"y":1660,"wires":[]},{"id":"7eb3c397cf9ffa9e","type":"function","z":"a74e482210368225","name":"Reprise selon calendrier","func":"// https://developer.husqvarnagroup.cloud/apis/automower-connect-api?tab=openapi\nvar mytoken = flow.get(\"access_token\"); \nvar myapi = flow.get(\"api_key\"); \n// Supprime tout dépassement du planificateur et laisse la tondeuse reprendre le programme défini par le calendrier.\nmsg.payload = {\n    data: {\n      type: 'ParkUntilNextSchedule'\n    }\n};\n\nmsg.headers = {\n\t'Authorization': 'Bearer '+mytoken,\n\t'Authorization-Provider': 'husqvarna',\n\t'X-Api-Key': myapi,\n\t'Content-Type': 'application/vnd.api+json',\n};\n\nvar url = \"https://api.amc.husqvarna.dev/v1/mowers/88fc5229-3d08-4c3f-adc9-b78d9863d1a1/actions\";\nmsg.url = url;\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":1700,"wires":[["159f881760df68d1"]]},{"id":"274cd5180292d918","type":"inject","z":"a74e482210368225","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":660,"y":1520,"wires":[["6cc88f51ca26304f"]]},{"id":"7307b46ae97cebf6","type":"api-call-service","z":"b15eee11632a5b2f","name":"PC Lampe Desodo","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.pc1_lidl"],"data":"{  \"entity_id\": \"switch.pc1_lidl\" }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":40,"wires":[[]]},{"id":"f9c4a3f6781b5543","type":"api-call-service","z":"b15eee11632a5b2f","name":"LumiereSalon_On","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.lumiere_salon"],"data":"{     \"entity_id\": \"switch.lumiere_salon\"   }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":180,"wires":[[]]},{"id":"3cb0ae90068b016d","type":"api-call-service","z":"b15eee11632a5b2f","name":"LumiereSalon_Off","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.lumiere_salon"],"data":"{     \"entity_id\": \"switch.lumiere_salon\"   }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":240,"wires":[[]]},{"id":"b748189a5f1bcc90","type":"switch","z":"b15eee11632a5b2f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":220,"wires":[["f9c4a3f6781b5543"],["3cb0ae90068b016d"]]},{"id":"b5ee4fef9d01c5ac","type":"api-call-service","z":"b15eee11632a5b2f","name":"Sapin_On","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.tc6_bp1"],"data":"{     \"entity_id\": \"switch.tc6_bp1\"   }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":320,"wires":[[]]},{"id":"2448a49144eb6c04","type":"api-call-service","z":"b15eee11632a5b2f","name":"Sapin_Off","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.tc6_bp1"],"data":"{     \"entity_id\": \"switch.tc6_bp1\"   }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":400,"wires":[[]]},{"id":"fb15d7fcdf844ace","type":"switch","z":"b15eee11632a5b2f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":380,"wires":[["b5ee4fef9d01c5ac"],["2448a49144eb6c04"]]},{"id":"a965e850be4ba3e5","type":"switch","z":"b15eee11632a5b2f","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":80,"wires":[["7307b46ae97cebf6"],["2269b5e15ab581b9"]]},{"id":"2318c1838aca4858","type":"debug","z":"b15eee11632a5b2f","name":"P1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":580,"wires":[]},{"id":"2269b5e15ab581b9","type":"api-call-service","z":"b15eee11632a5b2f","name":"PC Lampe Desodo","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.pc1_lidl"],"data":"{     \"entity_id\": \"switch.pc1_lidl\"   }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":100,"wires":[[]]},{"id":"354bdf026c4fccd1","type":"switch","z":"b15eee11632a5b2f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":480,"wires":[["302d0c49a7bf346f"],["4a2b3c76056362de"]]},{"id":"302d0c49a7bf346f","type":"api-call-service","z":"b15eee11632a5b2f","name":"Spots terrasse","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.spots_ext_sud"],"data":"{\"entity_id\":\"switch.spots_ext_sud\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":500,"y":500,"wires":[[]]},{"id":"4a2b3c76056362de","type":"api-call-service","z":"b15eee11632a5b2f","name":"Spots terrasse","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.spots_ext_sud"],"data":"{\"entity_id\":\"switch.spots_ext_sud\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":500,"y":580,"wires":[[]]},{"id":"52c7540926544728","type":"alexa-smart-home-v3","z":"b15eee11632a5b2f","conf":"51584e3c2cfaa393","device":"51168","acknowledge":true,"name":"lampe salon","topic":"","x":110,"y":280,"wires":[["b748189a5f1bcc90"]]},{"id":"531306f3d2977288","type":"alexa-smart-home-v3","z":"b15eee11632a5b2f","conf":"51584e3c2cfaa393","device":"51169","acknowledge":true,"name":"lampe terrasse","topic":"","x":118,"y":490,"wires":[["354bdf026c4fccd1"]]},{"id":"776a1b7652d620e2","type":"api-call-service","z":"b15eee11632a5b2f","name":"Ferm Volet Bureau Droit","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"script","service":"volet_bureau_droit_down","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":530,"y":660,"wires":[[]]},{"id":"ec91845992e0d712","type":"api-call-service","z":"b15eee11632a5b2f","name":"Ferm Volet Bureau Gauche","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"script","service":"volet_bureau_gauche_down","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":560,"y":720,"wires":[[]]},{"id":"b9360bb01c870ebf","type":"switch","z":"b15eee11632a5b2f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":700,"wires":[["776a1b7652d620e2","ec91845992e0d712"],[]]},{"id":"dcf7daedbb6e9375","type":"alexa-smart-home-v3","z":"b15eee11632a5b2f","conf":"51584e3c2cfaa393","device":"51333","acknowledge":true,"name":"fermeture volet bureau","topic":"","x":140,"y":680,"wires":[["2318c1838aca4858","b9360bb01c870ebf"]]},{"id":"15a30110a2da14fc","type":"alexa-smart-home-v3","z":"b15eee11632a5b2f","conf":"51584e3c2cfaa393","device":"51256","acknowledge":true,"name":"ouverture volet bureau","topic":"","x":120,"y":760,"wires":[["eb8d63856c3c50e5","0e23e9480e1bfb97"]]},{"id":"eb8d63856c3c50e5","type":"debug","z":"b15eee11632a5b2f","name":"P2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":760,"wires":[]},{"id":"9cb3a1bf1b4d5436","type":"api-call-service","z":"b15eee11632a5b2f","name":"Ouv Volet Bureau Gauche","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"script","service":"volet_bureau_gauche_up","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":550,"y":880,"wires":[[]]},{"id":"baf5eb8ca1527bb2","type":"api-call-service","z":"b15eee11632a5b2f","name":"Ouv Volet Bureau Droit","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"script","service":"volet_bureau_droit_up","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":540,"y":820,"wires":[[]]},{"id":"0e23e9480e1bfb97","type":"switch","z":"b15eee11632a5b2f","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"OFF","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":840,"wires":[["9cb3a1bf1b4d5436","baf5eb8ca1527bb2"],[]]},{"id":"205c6ea616b06989","type":"comment","z":"1b51d4e1b21b46bc","name":"Surveillance PC Bureau Nuit","info":"","x":440,"y":40,"wires":[]},{"id":"fc747b73d0dadd3c","type":"server-state-changed","z":"1b51d4e1b21b46bc","name":"Pu PC Bureau","server":"45bc8be7.a4f0a4","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"sensor.pc_lidl_2023_a_active_power","entityIdType":"exact","outputInitially":true,"stateType":"str","ifState":"500","ifStateType":"num","ifStateOperator":"gt","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"pu","propertyType":"msg","value":"","valueType":"entityState"}],"x":90,"y":140,"wires":[["ffc29f9502c8ece2"],[]]},{"id":"e3468d27b9464a65","type":"telegram sender","z":"1b51d4e1b21b46bc","name":"","bot":"b97e9b6fa2a7f268","haserroroutput":false,"outputs":1,"x":710,"y":180,"wires":[[]]},{"id":"ffc29f9502c8ece2","type":"time-range-switch","z":"1b51d4e1b21b46bc","name":"","lat":"43.91905434993742","lon":"2.1979451056884747","startTime":"23:00","endTime":"6:00","startOffset":"0","endOffset":0,"x":270,"y":140,"wires":[["015334e1d184c3e4"],[]]},{"id":"015334e1d184c3e4","type":"trigger","z":"1b51d4e1b21b46bc","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"30","extend":false,"overrideDelay":false,"units":"min","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":470,"y":120,"wires":[["e6a9d4fd5f90b58c","8f690f15a30af2d9"]]},{"id":"e6a9d4fd5f90b58c","type":"debug","z":"1b51d4e1b21b46bc","name":"debug 43","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":660,"y":80,"wires":[]},{"id":"81391b448c5513c2","type":"comment","z":"1b51d4e1b21b46bc","name":"Surveillance Pu Chalet - P>500 W depuis 10mn","info":"","x":460,"y":240,"wires":[]},{"id":"29c43c93bd1cd3dd","type":"server-state-changed","z":"1b51d4e1b21b46bc","name":"Pu Chalet","server":"45bc8be7.a4f0a4","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"sensor.esp131_pzem_chalet_puissance","entityIdType":"exact","outputInitially":true,"stateType":"str","ifState":"500","ifStateType":"num","ifStateOperator":"gt","outputOnlyOnStateChange":true,"for":"10","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"pu","propertyType":"msg","value":"","valueType":"entityState"}],"x":80,"y":300,"wires":[["0a65b09c80a85676"],[]]},{"id":"0a65b09c80a85676","type":"function","z":"1b51d4e1b21b46bc","name":"Message","func":"let val=msg.payload;\nmsg.method = \"sendMessage\";\nvar Message = \" Pu Chalet superieure à 500W depuis 3mn-Pu=\";\nMessage += msg.pu;\nMessage += \" W\";\nmsg.payload = {\n    chatId: 1109811941,\n    sentMessageId: 111,\n    type: 'message',\n    content: Message,\n};\nreturn msg;\n\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":300,"wires":[["f9859bc386a8fd3a"]]},{"id":"f9859bc386a8fd3a","type":"telegram sender","z":"1b51d4e1b21b46bc","name":"","bot":"b97e9b6fa2a7f268","haserroroutput":false,"outputs":1,"x":550,"y":300,"wires":[[]]},{"id":"d7dd968591623d34","type":"comment","z":"1b51d4e1b21b46bc","name":"Surveillance Niveau puit >0.8 depuis 6h","info":"","x":430,"y":360,"wires":[]},{"id":"0661c3daee3c16e2","type":"server-state-changed","z":"1b51d4e1b21b46bc","name":"Niveau Puit","server":"45bc8be7.a4f0a4","version":5,"outputs":2,"exposeAsEntityConfig":"","entityId":"sensor.esp140_niveau_puit","entityIdType":"exact","outputInitially":true,"stateType":"str","ifState":"0.8","ifStateType":"num","ifStateOperator":"lt","outputOnlyOnStateChange":true,"for":"6","forType":"num","forUnits":"hours","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"},{"property":"niveau","propertyType":"msg","value":"","valueType":"entityState"}],"x":90,"y":420,"wires":[["e38874c3bd5564db"],[]]},{"id":"e38874c3bd5564db","type":"function","z":"1b51d4e1b21b46bc","name":"Message","func":"let val=msg.payload;\nmsg.method = \"sendMessage\";\nvar Message = \"Niveau bas puit depuis 30mn\";\nMessage += msg.niveau;\nmsg.payload = {\n    chatId: 1109811941,\n    sentMessageId: 111,\n    type: 'message',\n    content: Message,\n};\nreturn msg;\n\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":420,"wires":[["7e3e553cbb5cef9a"]]},{"id":"7e3e553cbb5cef9a","type":"telegram sender","z":"1b51d4e1b21b46bc","name":"","bot":"b97e9b6fa2a7f268","haserroroutput":false,"outputs":1,"x":550,"y":420,"wires":[[]]},{"id":"fe559f4c177a27e3","type":"function","z":"1b51d4e1b21b46bc","name":"Message","func":"msg.method = \"sendMessage\";\nvar helpMessage = \"commandes :\\r\\n\";\nhelpMessage += \"help: ce message\\r\\n\";\nhelpMessage += \"status: état alarme\\r\\n\";\nhelpMessage += \"bat: état batteries\\r\\n\";\nmsg.payload = {\n    chatId: 1109811941,\n    sentMessageId: 111,\n    type: 'message',\n    content: helpMessage,\n};\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":1020,"wires":[["17e6dcbc114563e0"]]},{"id":"2b89f1d7a6d84449","type":"api-current-state","z":"1b51d4e1b21b46bc","name":"Nombre de batteries low","server":"2c5088ebae4d463e","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.nombre_batteries_low","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"},{"property":"nb_bat_decharge","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":370,"y":1100,"wires":[["d64f7e22d15bc213"]]},{"id":"d64f7e22d15bc213","type":"switch","z":"1b51d4e1b21b46bc","name":"Statuts Batteries Low","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"gte","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":1180,"wires":[["32ce6c14aadd9443"],["4bcb1848359901ca"]]},{"id":"32ce6c14aadd9443","type":"function","z":"1b51d4e1b21b46bc","name":"Message","func":"msg.method = \"sendMessage\";\nmsg.payload = {\n    chatId: 1109811941,\n    sentMessageId: 111,\n    type: 'message',\n    content: \"Toutes les batteries sont OK\",\n};\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1140,"wires":[["17e6dcbc114563e0"]]},{"id":"4bcb1848359901ca","type":"function","z":"1b51d4e1b21b46bc","name":"Message","func":"msg.method = \"sendMessage\";\nvar helpMessage = \"Attention - Nb de batteries déchargées : \";\nhelpMessage += msg.nb_bat_decharge;\nmsg.payload = {\n    chatId: 1109811941,\n    sentMessageId: 111,\n    type: 'message',\n    content: helpMessage,\n};\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":1200,"wires":[["17e6dcbc114563e0"]]},{"id":"63de4f1ba3f665a3","type":"telegram command","z":"1b51d4e1b21b46bc","name":"Télégram Commande help","command":"help","description":"","registercommand":false,"language":"","scope":"default","bot":"b97e9b6fa2a7f268","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":110,"y":1020,"wires":[["fe559f4c177a27e3","181e616bc2ac73cf"],[]]},{"id":"93335e0ce383a6ba","type":"telegram command","z":"1b51d4e1b21b46bc","name":"Télégram Commande bat","command":"bat","description":"","registercommand":false,"language":"","scope":"default","bot":"b97e9b6fa2a7f268","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":110,"y":1120,"wires":[["2b89f1d7a6d84449"],[]]},{"id":"17e6dcbc114563e0","type":"telegram sender","z":"1b51d4e1b21b46bc","name":"","bot":"b97e9b6fa2a7f268","haserroroutput":false,"outputs":1,"x":730,"y":1020,"wires":[[]]},{"id":"bc583d6d12162e3b","type":"inject","z":"1b51d4e1b21b46bc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":1180,"wires":[["d64f7e22d15bc213"]]},{"id":"181e616bc2ac73cf","type":"debug","z":"1b51d4e1b21b46bc","name":"debug 45","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":300,"y":980,"wires":[]},{"id":"0c4657831e8517e3","type":"comment","z":"1b51d4e1b21b46bc","name":"Tests Telegram","info":"","x":380,"y":880,"wires":[]},{"id":"8f690f15a30af2d9","type":"function","z":"1b51d4e1b21b46bc","name":"Message","func":"let val=msg.payload;\nmsg.method = \"sendMessage\";\nvar Message = \"PC Bureau Allumé-Pu= \";\nMessage += msg.pu;\nMessage += \" Watts\";\nmsg.payload = {\n    chatId: 1109811941,\n    sentMessageId: 111,\n    type: 'message',\n    content: Message,\n};\nif (val===\"1\") {\n    return msg;\n  } else {\n    return [null]\n  }\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":180,"wires":[["e3468d27b9464a65"]]},{"id":"8accd82e2558e37a","type":"http request","z":"580c677058b3fc4b","name":"http request","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":490,"y":80,"wires":[["25196d989c854724"]]},{"id":"04a7266b44db05e3","type":"function","z":"580c677058b3fc4b","name":"GetLocation","func":"\nvar url= \"https://public-api.meteofrance.fr/public/DPVigilance/v1/cartevigilance/encours\";\n\nmsg.headers = {\n\t'accept': '*/*',\n    'apikey': 'eyJ4NXQiOiJZV0kxTTJZNE1qWTNOemsyTkRZeU5XTTRPV014TXpjek1UVmhNbU14T1RSa09ETXlOVEE0Tnc9PSIsImtpZCI6ImdhdGV3YXlfY2VydGlmaWNhdGVfYWxpYXMiLCJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJzdWIiOiJyZW15LmNyb2Nob25AY2FyYm9uLnN1cGVyIiwiYXBwbGljYXRpb24iOnsib3duZXIiOiJyZW15LmNyb2Nob24iLCJ0aWVyUXVvdGFUeXBlIjpudWxsLCJ0aWVyIjoiVW5saW1pdGVkIiwibmFtZSI6IkRlZmF1bHRBcHBsaWNhdGlvbiIsImlkIjoyMTcwLCJ1dWlkIjoiM2JlNDlhZTktZTljZi00N2NmLWFkNzAtMzQyZGM1MWVhY2VjIn0sImlzcyI6Imh0dHBzOlwvXC9wb3J0YWlsLWFwaS5tZXRlb2ZyYW5jZS5mcjo0NDNcL29hdXRoMlwvdG9rZW4iLCJ0aWVySW5mbyI6eyI2MFJlcVBhck1pbiI6eyJ0aWVyUXVvdGFUeXBlIjoicmVxdWVzdENvdW50IiwiZ3JhcGhRTE1heENvbXBsZXhpdHkiOjAsImdyYXBoUUxNYXhEZXB0aCI6MCwic3RvcE9uUXVvdGFSZWFjaCI6dHJ1ZSwic3Bpa2VBcnJlc3RMaW1pdCI6MCwic3Bpa2VBcnJlc3RVbml0Ijoic2VjIn19LCJrZXl0eXBlIjoiUFJPRFVDVElPTiIsInBlcm1pdHRlZFJlZmVyZXIiOiIiLCJzdWJzY3JpYmVkQVBJcyI6W3sic3Vic2NyaWJlclRlbmFudERvbWFpbiI6ImNhcmJvbi5zdXBlciIsIm5hbWUiOiJEb25uZWVzUHVibGlxdWVzVmlnaWxhbmNlIiwiY29udGV4dCI6IlwvcHVibGljXC9EUFZpZ2lsYW5jZVwvdjEiLCJwdWJsaXNoZXIiOiJhZG1pbiIsInZlcnNpb24iOiJ2MSIsInN1YnNjcmlwdGlvblRpZXIiOiI2MFJlcVBhck1pbiJ9XSwidG9rZW5fdHlwZSI6ImFwaUtleSIsInBlcm1pdHRlZElQIjoiIiwiaWF0IjoxNjk4ODYxNDExLCJqdGkiOiIwMzk3NWQ2Yy1kMjFlLTQzNGEtYWYyYi1jYzRlYTZmNWIwNzIifQ==.Oq7NX1VNSQAspuVPbwucOc2eyzirkPKdZJv6kozV5WcvH071niq9_OkVfmhea0V_b9QVUZLxaG8WfeDRQIV1mqvwg36-PChrzjRdXlMdZqwWvDrEWl02Q6h9PcgFYqcQj_LoP8zSGX7JQsdZBnXbU4PEsQFUnlvEwKm1wpozs4jSLRv-swJtcyElWqKudnYatSh06qrwEXJsFjOslgpcgp1rJjpRge_-sDHQ2XvcUoICB0PIBg0v0XYuk0FJMoTBEgREPUmHTijJt0WXT3z-vRfhbhnAVI9ekUIilcyGtHizl-0o0wytmIsDJY_l0KXuwo2EcT_ZcQVNGbT8JXU1UQ==',\n    'Content-Type': 'application/vnd.api+json',\n};\n\nmsg.url = url;\n\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":80,"wires":[["8accd82e2558e37a"]]},{"id":"25196d989c854724","type":"debug","z":"580c677058b3fc4b","name":"Debug Location","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":700,"y":80,"wires":[]},{"id":"447be26758472406","type":"inject","z":"580c677058b3fc4b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":80,"wires":[["04a7266b44db05e3"]]},{"id":"157430db99e95394","type":"http request","z":"80434e308062bad3","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"msg","keyValue":"payload","valueType":"other","valueValue":""}],"x":710,"y":80,"wires":[[]]},{"id":"639f9ffd93ca2b26","type":"function","z":"80434e308062bad3","name":"function 6","func":"var value=msg.payload;\n\nif (value < 0) {\n    value = 0;\n} else if (value > 100) {\n    value = 100;\n}\n\n\nmsg.payload = \"http://192.168.0.77/?POWER=\"+value;\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":60,"wires":[["77a4e217505a3ea9"]]},{"id":"77a4e217505a3ea9","type":"change","z":"80434e308062bad3","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":120,"wires":[["157430db99e95394","5ab413b870aec998","84e81bd61df98b44"]]},{"id":"5af824266c8c55c9","type":"debug","z":"80434e308062bad3","name":"M_Dimmer","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":710,"y":320,"wires":[]},{"id":"191ae87d440f397c","type":"debug","z":"80434e308062bad3","name":"PU grid","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":280,"y":180,"wires":[]},{"id":"5ab413b870aec998","type":"debug","z":"80434e308062bad3","name":"URL","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":140,"wires":[]},{"id":"9812aea26f4fd1c8","type":"function","z":"80434e308062bad3","name":"Calcul Sortie % V1","func":"var pu = Math.abs(msg.pu);\nvar pu_net = msg.pu;\nvar S_Triac;\nvar Pas_Triac;\nvar M_Triac;\nvar Palier0 = 0;\nvar Palier1 = 15;\nvar Palier2 = 50;\nvar Palier3 = 100;\nvar Palier4 = 200;\nvar Palier5 = 300;\nvar Palier6 = 600;\nvar Palier7 = 900;\nvar etat = msg.dimmer; // Etat dimmer\n\nif (etat === \"on\") {\n\n    if (global.get('M_Triac') === undefined) {\n        global.set('M_Triac', 0);\n    }\n    S_Triac = global.get('M_Triac')\n\n    if (pu >= Palier1 && pu < Palier2) {\n        Pas_Triac = 0.5;\n    }\n    else if (pu >= Palier2 && pu < Palier3) {\n        Pas_Triac = 1;\n    }\n    else if (pu >= Palier3 && pu < Palier4) {\n        Pas_Triac = 1.5;\n    }\n    else if (pu >= Palier4 && pu < Palier5) {\n        Pas_Triac = 2;\n    }\n    else if (pu >= Palier5 && pu < Palier6) {\n        Pas_Triac = 2.5;\n    }\n    else if (pu >= Palier6 && pu < Palier7) {\n        Pas_Triac = 3;\n    }\n    else if (pu >= Palier7) {\n        Pas_Triac = 4;\n    }\n    else {\n        Pas_Triac = 0;\n    }\n\n    if (pu_net < 0) {\n        S_Triac = S_Triac + Pas_Triac;\n    } else {\n        S_Triac = S_Triac - Pas_Triac;\n    }\n\n    if (S_Triac < 1) {\n        S_Triac = 0;\n    }\n    if (S_Triac > 100) {\n        S_Triac = 100;\n    }\n    global.set('M_Triac', S_Triac);\n\n} else {\n    S_Triac = 0;\n    global.set('M_Triac', 0)\n    Pas_Triac = 0;\n}\nS_Triac = Math.trunc(S_Triac);\nmsg.payload = \"http://192.168.0.77/?POWER=\" + S_Triac;\n\nvar msg2 = { payload: Pas_Triac }\nvar msg3 = { payload: S_Triac }\nreturn [msg, msg2, msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":360,"wires":[["c03321e7925df515","77a4e217505a3ea9"],["5af824266c8c55c9","9a9fdf9d0964a0f2"],["e6cc304e3940801f","b0412c12f1b3cc56","66d186a76376bde5"]]},{"id":"9a9fdf9d0964a0f2","type":"ui_gauge","z":"80434e308062bad3","name":"","group":"0bdb21264cfecccd","order":1,"width":"3","height":"3","gtype":"gage","title":"M_Dimmer","label":"Unité","format":"{{value}}","min":0,"max":"20","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":710,"y":380,"wires":[]},{"id":"e6cc304e3940801f","type":"ui_gauge","z":"80434e308062bad3","name":"","group":"0bdb21264cfecccd","order":2,"width":"3","height":"3","gtype":"gage","title":"Sortie V1","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":700,"y":420,"wires":[]},{"id":"976fabee2a3d7f0a","type":"modbus-read","z":"80434e308062bad3","d":true,"name":"Pu grid","topic":"Pu_grid","showStatusActivities":true,"logIOActivities":false,"showErrors":false,"showWarnings":true,"unitid":"100","dataType":"HoldingRegister","adr":"820","quantity":"1","rate":"1800","rateUnit":"ms","delayOnStart":false,"startDelayTime":"5","server":"af1b6fc455ed5ad2","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":true,"x":90,"y":180,"wires":[["419ea4edcb2b4564"],[]]},{"id":"419ea4edcb2b4564","type":"function","z":"80434e308062bad3","name":"Convertion","func":"// Entrée : msg.payload (entier non signé)\n// Sortie : msg.payload (entier signé)\n\n// Récupérer la valeur de l'entier non signé\nvar unsignedInt = msg.payload;\n\n// Créer un tableau tampon (Buffer) pour stocker les données\nvar buffer = Buffer.allocUnsafe(2);\n\n// Écrire la valeur de l'entier non signé dans le tampon\nbuffer.writeUInt16BE(unsignedInt, 0);\n\n// Lire la valeur de l'entier signé depuis le tampon\nvar signedInt = buffer.readInt16BE(0);\n\n// Mettre à jour la valeur du message avec l'entier signé\nmsg.payload = signedInt;\n\n// Renvoyer le message modifié\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":130,"y":280,"wires":[["191ae87d440f397c","d4b66c566c6dd16e","16b39538cd796350","31ee3da382d37c31"]]},{"id":"d4b66c566c6dd16e","type":"ui_chart","z":"80434e308062bad3","name":"","group":"13956cf323d720cd","order":2,"width":0,"height":0,"label":"Pu Réseau","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":710,"y":240,"wires":[[]]},{"id":"84e81bd61df98b44","type":"ui_text","z":"80434e308062bad3","group":"0bdb21264cfecccd","order":4,"width":0,"height":0,"name":"","label":"Trame","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":690,"y":200,"wires":[]},{"id":"b0412c12f1b3cc56","type":"ui_chart","z":"80434e308062bad3","name":"","group":"0bdb21264cfecccd","order":3,"width":0,"height":0,"label":"Sortie GV1","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"15","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":710,"y":460,"wires":[[]]},{"id":"c19145cee0a13b36","type":"ui_slider","z":"80434e308062bad3","name":"","label":"Simul Puissance","tooltip":"","group":"378299f3e47d4d20","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":"-1000","max":"1000","step":1,"className":"","x":130,"y":120,"wires":[["9812aea26f4fd1c8"]]},{"id":"31ee3da382d37c31","type":"change","z":"80434e308062bad3","name":"payload->Pu->dimmer","rules":[{"t":"set","p":"pu","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"dimmer","pt":"msg","to":"dimmer","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":360,"wires":[["9812aea26f4fd1c8","0b285c47bb18134f","3a5c35dd51955a6b"]]},{"id":"d84783b45970c47d","type":"comment","z":"80434e308062bad3","name":"Routeur PV","info":"","x":390,"y":20,"wires":[]},{"id":"16b39538cd796350","type":"ui_gauge","z":"80434e308062bad3","name":"","group":"0bdb21264cfecccd","order":1,"width":"3","height":"3","gtype":"gage","title":"Pu reseau","label":"W","format":"{{value}}","min":"-1000","max":"1000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":710,"y":280,"wires":[]},{"id":"c7969501e44ed04c","type":"api-current-state","z":"80434e308062bad3","name":"Etat Dimmer","server":"45bc8be7.a4f0a4","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.dimmer_on_off_4630","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":640,"wires":[["0134b7a5612042bf"]]},{"id":"20759660eebf535e","type":"inject","z":"80434e308062bad3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":640,"wires":[["c7969501e44ed04c"]]},{"id":"0134b7a5612042bf","type":"change","z":"80434e308062bad3","name":"","rules":[{"t":"set","p":"dimmer","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":640,"wires":[[]]},{"id":"0b285c47bb18134f","type":"debug","z":"80434e308062bad3","name":"Dimmer","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"dimmer","targetType":"msg","statusVal":"payload","statusType":"auto","x":360,"y":420,"wires":[]},{"id":"c03321e7925df515","type":"debug","z":"80434e308062bad3","name":"debug 14","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":480,"y":180,"wires":[]},{"id":"66d186a76376bde5","type":"debug","z":"80434e308062bad3","name":"S_Triac","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":680,"y":520,"wires":[]},{"id":"e9b1542d08e28b05","type":"debug","z":"80434e308062bad3","name":"debug 15","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":480,"y":500,"wires":[]},{"id":"7470d41cd580b004","type":"change","z":"80434e308062bad3","d":true,"name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"M_Triac","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":500,"wires":[["e9b1542d08e28b05"]]},{"id":"33f3d5185345e2c5","type":"inject","z":"80434e308062bad3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":500,"wires":[["7470d41cd580b004","5c71c48a33d142ca"]]},{"id":"5c71c48a33d142ca","type":"random","z":"80434e308062bad3","name":"","low":"-500","high":"+500","inte":"true","property":"payload","x":140,"y":440,"wires":[[]]},{"id":"a450ec17d618eda1","type":"change","z":"80434e308062bad3","name":"","rules":[{"t":"set","p":"M_Triac","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":580,"wires":[[]]},{"id":"c4879603795487cb","type":"inject","z":"80434e308062bad3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":580,"wires":[["a450ec17d618eda1"]]},{"id":"ebf1ccb5e1387818","type":"server-state-changed","z":"80434e308062bad3","name":"Pu ECS","server":"45bc8be7.a4f0a4","version":5,"outputs":1,"exposeAsEntityConfig":"","entityId":"sensor.ecocompteur_ecs","entityIdType":"exact","outputInitially":true,"stateType":"str","ifState":"","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":700,"wires":[["8417c10d45524012","451511d8705b8df5"]]},{"id":"8417c10d45524012","type":"ui_chart","z":"80434e308062bad3","name":"","group":"13956cf323d720cd","order":2,"width":0,"height":0,"label":"Pu ECS","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":580,"y":680,"wires":[[]]},{"id":"451511d8705b8df5","type":"ui_gauge","z":"80434e308062bad3","name":"","group":"13956cf323d720cd","order":1,"width":"3","height":"3","gtype":"gage","title":"Pu ECS","label":"W","format":"{{value}}","min":"0","max":"3000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","diff":false,"className":"","x":580,"y":720,"wires":[]},{"id":"4006ea4a854f98aa","type":"http request","z":"80434e308062bad3","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"msg","keyValue":"payload","valueType":"other","valueValue":""}],"x":710,"y":780,"wires":[[]]},{"id":"8b371d5c68e8ee79","type":"change","z":"80434e308062bad3","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":820,"wires":[["4006ea4a854f98aa","389e3391f73b5b14","be9e700f85749c6e"]]},{"id":"389e3391f73b5b14","type":"debug","z":"80434e308062bad3","name":"URL","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":840,"wires":[]},{"id":"3a5c35dd51955a6b","type":"function","z":"80434e308062bad3","d":true,"name":"Calcul Sortie % V ETH01","func":"var pu = msg.pu;\nvar etat = msg.dimmer; // Etat dimmer\n\nif (etat === \"on\") {\n\n} else {\n    pu = 0;\n}\n\nmsg.payload = \"http://192.168.0.176/number/esp176_pu_reseau/set?value=\" + pu;\n\nreturn [msg];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":250,"y":840,"wires":[["8b371d5c68e8ee79"]]},{"id":"be9e700f85749c6e","type":"ui_text","z":"80434e308062bad3","group":"bd6914609246f6ae","order":4,"width":0,"height":0,"name":"","label":"Trame","format":"{{msg.payload}}","layout":"row-spread","className":"","style":false,"font":"","fontSize":"","color":"#000000","x":690,"y":900,"wires":[]},{"id":"77ebba8419fa4a4f","type":"comment","z":"80434e308062bad3","name":"Routeur PV","info":"","x":310,"y":760,"wires":[]},{"id":"1d496bcfe2f0a990","type":"debug","z":"80434e308062bad3","name":"debug 16","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":540,"y":960,"wires":[]},{"id":"c1bc0766dcf031aa","type":"random","z":"80434e308062bad3","name":"","low":"-1000","high":"100","inte":"true","property":"pu","x":240,"y":900,"wires":[["3d7d92d5825a2985","acf580088edd8190","735509710c064a54","aa01399680dac99e","496636838e0f1390"]]},{"id":"6f5677617406d2ea","type":"inject","z":"80434e308062bad3","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"2","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":900,"wires":[["c1bc0766dcf031aa"]]},{"id":"3d7d92d5825a2985","type":"function","z":"80434e308062bad3","d":true,"name":"Calcul Sortie % V ETH01","func":"var pu = msg.pu;\nvar etat = msg.dimmer; // Etat dimmer\n\nif (etat === \"on\") {\n\n} else {\n    ;\n}\n\nmsg.payload = \"http://192.168.0.176/number/esp176_pu_reseau/set?value=\" + pu;\n\nreturn [msg];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":980,"wires":[["8b371d5c68e8ee79","1d496bcfe2f0a990"]]},{"id":"f725698c4e759446","type":"change","z":"80434e308062bad3","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":1040,"wires":[["a054d30b054e6b69"]]},{"id":"a054d30b054e6b69","type":"http request","z":"80434e308062bad3","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"msg","keyValue":"payload","valueType":"other","valueValue":""}],"x":670,"y":1040,"wires":[[]]},{"id":"acf580088edd8190","type":"function","z":"80434e308062bad3","d":true,"name":"Calcul Sortie % V ETH01","func":"var pu = msg.pu;\nvar etat = msg.dimmer; // Etat dimmer\n\nif (etat === \"on\") {\n\n} else {\n    ;\n}\n\nmsg.payload = \"http://192.168.0.142/number/esp142_pu_reseau/set?value=\" + pu;\n\nreturn [msg];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":270,"y":1040,"wires":[["f725698c4e759446"]]},{"id":"735509710c064a54","type":"function","z":"80434e308062bad3","d":true,"name":"Calcul Sortie % ax+b","func":"var pu = msg.pu;\nvar pu_net = msg.pu;\nvar S_Triac;\nvar coefx1 = -10; //pour Striac =0\nvar coefx2 = -2000; // pour striac =100\n\nvar etat = msg.dimmer; // Etat dimmer\n\nif (etat === etat) {\n\n    if (global.get('M_Triac') === undefined) {\n        global.set('M_Triac', 0);\n    }\n    S_Triac = (100 - 0) /(coefx2-coefx1)*pu+ 0-(100-0)/(coefx2 - coefx1) * coefx1;\n\n    if (S_Triac < 1) {\n        S_Triac = 0;\n    }\n    if (S_Triac > 100) {\n        S_Triac = 100;\n    }\n    global.set('M_Triac', S_Triac);\n\n} else {\n    S_Triac = 0;\n\n}\nS_Triac = Math.trunc(S_Triac);\nmsg.payload = \"http://192.168.0.77/?POWER=\" + S_Triac;\n\n\nvar msg3 = { payload: S_Triac }\nreturn [msg, null, msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":1160,"wires":[[],[],["8c541ecd5b7ea9a1"]]},{"id":"8c541ecd5b7ea9a1","type":"debug","z":"80434e308062bad3","name":"S_Triac","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":460,"y":1160,"wires":[]},{"id":"aa01399680dac99e","type":"debug","z":"80434e308062bad3","name":"debug 17","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"pu","targetType":"msg","statusVal":"payload","statusType":"auto","x":480,"y":1100,"wires":[]},{"id":"496636838e0f1390","type":"function","z":"80434e308062bad3","name":"Calcul Sortie % coef-P","func":"var pu = msg.pu;\nvar pu_net = msg.pu;\nvar S_Triac;\nvar M_Triac;\nvar coefp = 100; //\n\nvar etat = msg.dimmer; // Etat dimmer\n\nif (etat === etat) {\n\n    if (global.get('M_Triac') === undefined) {\n        global.set('M_Triac', 0);\n        }\n    S_Triac = global.get('M_Triac');\n\n    S_Triac = S_Triac + pu/coefp*-1;\n\n    if (S_Triac < 1) {\n        S_Triac = 0;\n    }\n    if (S_Triac > 100) {\n        S_Triac = 100;\n    }\n    global.set('M_Triac', S_Triac);\n\n} else {\n    S_Triac = 0;\n\n}\nS_Triac = Math.trunc(S_Triac);\nmsg.payload = \"http://192.168.0.77/?POWER=\" + S_Triac;\n\nvar msg2 = { payload: pu / coefp * -1 }\nvar msg3 = { payload: S_Triac }\nreturn [msg, msg2, msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":1220,"wires":[[],["ef41e97123247e59"],["4433057cebf09b8e"]]},{"id":"4433057cebf09b8e","type":"debug","z":"80434e308062bad3","name":"S_Triac","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":480,"y":1280,"wires":[]},{"id":"ef41e97123247e59","type":"debug","z":"80434e308062bad3","name":"Coeff","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":470,"y":1220,"wires":[]},{"id":"f35e4de98eadb7f7","type":"inject","z":"b0aeb8f7d9c0e20b","name":"InitialToken","props":[],"repeat":"","crontab":"*/15 9-15 * * *","once":false,"onceDelay":0.1,"topic":"","x":140,"y":100,"wires":[["1b228060555218b1"]]},{"id":"20379a1b32a16472","type":"http request","z":"b0aeb8f7d9c0e20b","name":"http request","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":640,"y":130,"wires":[["146460b68b2efbdd","c69ec2de5b2bc22e"]]},{"id":"8a9d6b46e3dd223b","type":"function","z":"b0aeb8f7d9c0e20b","name":"GetLocation","func":"global.set(\"access_token\", msg.oauth2Response.access_token);\nglobal.set(\"refresh_token\", msg.oauth2Response.refresh_token);\nglobal.set(\"user_id\", msg.oauth2Response.user_id)\n\nvar mytoken = global.get(\"access_token\"); \nvar myapi = global.get(\"api_key\"); \nvar url= \"https://api.smart.gardena.dev/v1/locations\";\n\nmsg.headers = {\n\t'Authorization': 'Bearer '+mytoken,\n\t'Authorization-Provider': 'husqvarna',\n\t'X-Api-Key': myapi,\n\t'Content-Type': 'application/vnd.api+json',\n};\n\nmsg.url = url;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":130,"wires":[["20379a1b32a16472"]]},{"id":"9a70a241fb729ed3","type":"http request","z":"b0aeb8f7d9c0e20b","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":640,"y":180,"wires":[["91ee3e8d96350bdc","47cda3d7549ece3d"]]},{"id":"146460b68b2efbdd","type":"function","z":"b0aeb8f7d9c0e20b","name":"GetServiceIDs","func":"global.set(\"location\", msg.payload[\"data\"][\"0\"][\"id\"]);\n\nvar mytoken = global.get(\"access_token\"); \nvar myapi = global.get(\"api_key\"); \nvar mylocation = global.get(\"location\"); \nvar url= \"https://api.smart.gardena.dev/v1/locations/\"+mylocation;\n\nmsg.headers = {\n\t'Authorization': 'Bearer '+mytoken,\n\t'Authorization-Provider': 'husqvarna',\n\t'X-Api-Key': myapi,\n\t'Content-Type': 'application/vnd.api+json'\n};\n\nmsg.url = url;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":180,"wires":[["9a70a241fb729ed3"]],"info":"Location coule be d8a1faef-2ee3-421d-a3f8-f8ed577c2ad3:suffix\n\nvar url= \"https://api.smart.gardena.dev/v1/locations/\"+mylocation;\nvar url= \"https://api.smart.gardena.dev/v1/locations/d8a1faef-2ee3-421d-a3f8-f8ed577c2ad3\";"},{"id":"91ee3e8d96350bdc","type":"debug","z":"b0aeb8f7d9c0e20b","name":"Debug service-ID","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1180,"y":130,"wires":[]},{"id":"c69ec2de5b2bc22e","type":"debug","z":"b0aeb8f7d9c0e20b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1170,"y":90,"wires":[]},{"id":"3f8d010a54482823","type":"function","z":"b0aeb8f7d9c0e20b","name":"MowNowFor3h","func":"var mytoken = global.get(\"access_token\"); \nvar myapi = global.get(\"api_key\"); \nvar myservice = \"xxxxxxxx-xxxxxxxxxx-xxxxxxxxx\"; \n\nmsg.payload = {\n        'data': {\n        'type': 'MOWER_CONTROL', \n\t\t'id': 'request-4', \n\t\t'attributes': {\n\t\t\t'command': 'START_SECONDS_TO_OVERRIDE',\n\t\t\t'seconds': 10800\n\t\t}\n\t}\n};\n\nmsg.headers = {\n\t'Authorization': 'Bearer '+mytoken,\n\t'Authorization-Provider': 'husqvarna',\n\t'X-Api-Key': myapi,\n\t'Content-Type': 'application/vnd.api+json'\n};\n\n\nvar url= \"https://api.smart.gardena.dev/v1/command/\"+myservice;\n\nmsg.url = url;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":600,"wires":[["87b7600a20355b57"]]},{"id":"4438bca8a651ce70","type":"function","z":"b0aeb8f7d9c0e20b","name":"StopMowing","func":"var mytoken = global.get(\"access_token\"); \nvar myapi = global.get(\"api_key\"); \nvar myservice = \"xxxxxxxx-xxxxxxxxxx-xxxxxxxxx\"; \n\nmsg.payload = {\n        'data': {\n        'id': 'request-5', \n        'type': 'MOWER_CONTROL', \n\t\t'attributes': {\n\t\t\t'command': 'PARK_UNTIL_FURTHER_NOTICE'\n\t\t}\n\t}\n};\n\nmsg.headers = {\n\t'Authorization': 'Bearer '+mytoken,\n\t'Authorization-Provider': 'husqvarna',\n\t'X-Api-Key': myapi,\n\t'Content-Type': 'application/vnd.api+json'\n};\n\n\nvar url= \"https://api.smart.gardena.dev/v1/command/\"+myservice;\n\nmsg.url = url;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":640,"wires":[["87b7600a20355b57"]]},{"id":"87b7600a20355b57","type":"http request","z":"b0aeb8f7d9c0e20b","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":990,"y":560,"wires":[["30a7f55e337462c4"]]},{"id":"51dedec40dbc64a9","type":"function","z":"b0aeb8f7d9c0e20b","name":"MowToSchedule","func":"var mytoken = global.get(\"access_token\"); \nvar myapi = global.get(\"api_key\"); \nvar myservice = \"xxxxxxxx-xxxxxxxxxx-xxxxxxxxx\"; \n\nmsg.payload = {\n        'data': {\n        'type': 'MOWER_CONTROL', \n\t\t'id': 'request-2', \n\t\t'attributes': {\n\t\t\t'command': 'START_DONT_OVERRIDE'\n\t\t}\n\t}\n};\n\nmsg.headers = {\n\t'Authorization': 'Bearer '+mytoken,\n\t'Authorization-Provider': 'husqvarna',\n\t'X-Api-Key': myapi,\n\t'Content-Type': 'application/vnd.api+json'\n};\n\n\nvar url= \"https://api.smart.gardena.dev/v1/command/\"+myservice;\n\nmsg.url = url;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":520,"wires":[["87b7600a20355b57"]]},{"id":"31e98dfe103f1a69","type":"function","z":"b0aeb8f7d9c0e20b","name":"StopMowTillSchedule","func":"var mytoken = global.get(\"access_token\"); \nvar myapi = global.get(\"api_key\"); \nvar myservice = \"xxxxxxxx-xxxxxxxxxx-xxxxxxxxx\"; \n\nmsg.payload = {\n        'data': {\n        'type': 'MOWER_CONTROL', \n\t\t'id': 'request-3', \n\t\t'attributes': {\n\t\t\t'command': 'PARK_UNTIL_NEXT_TASK'\n\t\t}\n\t}\n};\n\nmsg.headers = {\n\t'Authorization': 'Bearer '+mytoken,\n\t'Authorization-Provider': 'husqvarna',\n\t'X-Api-Key': myapi,\n\t'Content-Type': 'application/vnd.api+json'\n};\n\n\nvar url= \"https://api.smart.gardena.dev/v1/command/\"+myservice;\n\nmsg.url = url;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":560,"wires":[["87b7600a20355b57"]]},{"id":"30a7f55e337462c4","type":"debug","z":"b0aeb8f7d9c0e20b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1160,"y":560,"wires":[]},{"id":"222b5ae3987b6d59","type":"debug","z":"b0aeb8f7d9c0e20b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"oauth2Response","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":40,"wires":[]},{"id":"5289a5a744fab9e9","type":"comment","z":"b0aeb8f7d9c0e20b","name":"Input your credentials","info":"","x":400,"y":40,"wires":[]},{"id":"664a8199a307d939","type":"comment","z":"b0aeb8f7d9c0e20b","name":"Input your appliances' service-IDs from debug","info":"","x":800,"y":480,"wires":[]},{"id":"1b228060555218b1","type":"function","z":"b0aeb8f7d9c0e20b","name":"Client Credentials","func":"msg.oauth2Request = { \n    \"access_token_url\": \"https://api.authentication.husqvarnagroup.dev/v1/oauth2/token\",\n    \"credentials\": {\n        \"grant_type\": \"client_credentials\",\n        \"client_id\": \"xxxxxxxx-xxxxxxxxxx-xxxxxxxxx\",\n        \"client_secret\": \"xxxxxxxx-xxxxxxxxx-xxxxxxxx\",\n        \"scope\": \"*\"\n    },\n};\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":80,"wires":[["5b3ca54b9a36a79a"]]},{"id":"5b3ca54b9a36a79a","type":"oauth2","z":"b0aeb8f7d9c0e20b","name":"Set by msg.oauth2Request","container":"oauth2Response","grant_type":"set_by_credentials","access_token_url":"http://localhost:3000/oauth/token ","username":"pedroet","password":"","client_id":"confidentialApplication","client_secret":"topSecret","scope":"*","headers":{},"x":690,"y":60,"wires":[["222b5ae3987b6d59","8a9d6b46e3dd223b"]]},{"id":"2e8c844e79391eda","type":"inject","z":"b0aeb8f7d9c0e20b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":640,"wires":[["b33260ca1dbc3464"]]},{"id":"b362008f401967e0","type":"inject","z":"b0aeb8f7d9c0e20b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":600,"wires":[["2a9ea8f50075bbb4"]]},{"id":"be177a69563e3265","type":"inject","z":"b0aeb8f7d9c0e20b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":560,"wires":[["0f098ea373490451"]]},{"id":"3a3e5a2b67638a66","type":"inject","z":"b0aeb8f7d9c0e20b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":520,"wires":[["e97357723d68bdb8"]]},{"id":"a00db63670d7a7fd","type":"debug","z":"b0aeb8f7d9c0e20b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":170,"wires":[]},{"id":"7136e686bc8784e9","type":"ui_text","z":"b0aeb8f7d9c0e20b","group":"9852e93e7fb4fe70","order":7,"width":0,"height":0,"name":"","label":"Drift timer:","format":"{{msg.payload.ophours}} h","layout":"row-spread","className":"","x":1160,"y":360,"wires":[]},{"id":"47cda3d7549ece3d","type":"function","z":"b0aeb8f7d9c0e20b","name":"","func":"var ophours = msg.payload.included[\"1\"].attributes.operatingHours.value;\nvar status = msg.payload.included[\"1\"].attributes.state.value;\nvar activity = msg.payload.included[\"1\"].attributes.activity.value;\nvar batlevel = msg.payload.included[\"2\"].attributes.batteryLevel.value;\nvar batstate = msg.payload.included[\"2\"].attributes.batteryState.value;\nvar rfstate = msg.payload.included[\"2\"].attributes.rfLinkState.value;\nvar rflevel = msg.payload.included[\"2\"].attributes.rfLinkLevel.value;\n\n\n\n\n\nmsg.payload.ophours = ophours;\nmsg.payload.status = status;\nif (activity == \"PAUSED\") \n    {activity = \"Sat på pause\";}\n    \nif (activity == \"OK_CUTTING\") \n    {activity = \"Klipper græs (auto)\";}\n    \nif (activity == \"OK_CUTTING_TIMER_OVERRIDDEN\")\n    {activity = \"Klipper græs (manuelt)\";}\n    \nif (activity == \"OK_SEARCHING\") \n    {activity = \"Søger ladestation\";}\n    \nif (activity == \"OK_CHARGING\") \n    {activity = \"Lader op\";}\n\nif (activity == \"PARKED_TIMER\") \n    {activity = \"Parkeret indtil næste tidsplan\";}\n    \nif (activity == \"PARKED_PARK_SELECTED\") \n    {activity = \"Parkeret indtil videre\";}\n    \nif (activity == \"PARKED_AUTOTIMER\") \n    {activity = \"Parkeret græs for lavt\";}\n\nif (activity == \"NONE\") \n    {activity = \"Fejl?\";}\n\nmsg.payload.activity = activity;\n\nmsg.payload.batlevel = batlevel;\nmsg.payload.batstate = batstate;\nmsg.payload.rfstate = rfstate;\nmsg.payload.rflevel = rflevel;\n \n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":300,"wires":[["7136e686bc8784e9","a00db63670d7a7fd","7be899d4d84d523b","4c253c18fb584399","01d1a2f92a87cfe0","e41272d579775bd5"]]},{"id":"7be899d4d84d523b","type":"ui_text","z":"b0aeb8f7d9c0e20b","group":"9852e93e7fb4fe70","order":2,"width":"6","height":"2","name":"","label":"","format":"{{msg.payload.activity}}","layout":"row-center","className":"","x":1140,"y":320,"wires":[]},{"id":"4c253c18fb584399","type":"ui_text","z":"b0aeb8f7d9c0e20b","group":"9852e93e7fb4fe70","order":1,"width":0,"height":0,"name":"","label":"Status:","format":"{{msg.payload.status}}","layout":"row-spread","className":"","x":1150,"y":280,"wires":[]},{"id":"7bfd2fa90f23b134","type":"delay","z":"b0aeb8f7d9c0e20b","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":140,"y":280,"wires":[["1b228060555218b1"]]},{"id":"e97357723d68bdb8","type":"ui_button","z":"b0aeb8f7d9c0e20b","name":"","group":"9852e93e7fb4fe70","order":3,"width":0,"height":0,"passthru":true,"label":"Klip efter tidsplan","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":430,"y":520,"wires":[["51dedec40dbc64a9","7bfd2fa90f23b134"]]},{"id":"0f098ea373490451","type":"ui_button","z":"b0aeb8f7d9c0e20b","name":"","group":"9852e93e7fb4fe70","order":5,"width":0,"height":0,"passthru":true,"label":"Parker til næste tidsplan","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":420,"y":560,"wires":[["31e98dfe103f1a69","7bfd2fa90f23b134"]]},{"id":"2a9ea8f50075bbb4","type":"ui_button","z":"b0aeb8f7d9c0e20b","name":"","group":"9852e93e7fb4fe70","order":4,"width":0,"height":0,"passthru":true,"label":"Manuelt klip i 3 timer","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":430,"y":600,"wires":[["3f8d010a54482823","7bfd2fa90f23b134"]]},{"id":"b33260ca1dbc3464","type":"ui_button","z":"b0aeb8f7d9c0e20b","name":"","group":"9852e93e7fb4fe70","order":6,"width":0,"height":0,"passthru":true,"label":"Parker og pause tidsplan","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":410,"y":640,"wires":[["4438bca8a651ce70","7bfd2fa90f23b134"]]},{"id":"01d1a2f92a87cfe0","type":"ui_text","z":"b0aeb8f7d9c0e20b","group":"9852e93e7fb4fe70","order":8,"width":"0","height":"0","name":"","label":"Batteri:","format":"{{msg.payload.batlevel}}% - {{msg.payload.batstate}}","layout":"row-spread","className":"","x":1150,"y":400,"wires":[]},{"id":"e41272d579775bd5","type":"ui_text","z":"b0aeb8f7d9c0e20b","group":"9852e93e7fb4fe70","order":9,"width":"0","height":"0","name":"","label":"Signal:","format":"{{msg.payload.rflevel}}% - {{msg.payload.rfstate}}","layout":"row-spread","className":"","x":1150,"y":440,"wires":[]},{"id":"d8dc9665b2f97a83","type":"comment","z":"b0aeb8f7d9c0e20b","name":"Dashboard text","info":"","x":1170,"y":240,"wires":[]},{"id":"7763b001d4f99a71","type":"comment","z":"b0aeb8f7d9c0e20b","name":"Dashboard buttons","info":"","x":440,"y":480,"wires":[]},{"id":"7cfdb88e651e7b0e","type":"comment","z":"b0aeb8f7d9c0e20b","name":"If sending commands & read status often it will \"limit exceeded\" and lock communication for a while.","info":"","x":710,"y":700,"wires":[]}]