node-red/flows.json
[{"id":"8e22460d.5d4bc8","type":"tab","label":"Alexa","disabled":false,"info":""},{"id":"2923591e.104216","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"45bc8be7.a4f0a4","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30},{"id":"404e1c1.65f5de4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8ab70b70.440a38","type":"influxdb","hostname":"a0d7b954-influxdb","port":"8086","protocol":"http","database":"ha_NodeRed","name":"ha_NodeRed","usetls":false,"tls":"2923591e.104216","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"aa489748.997028","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"temperature","name":"","influxdbVersion":"1.x"},{"id":"14487bde.9199c4","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"humidite","name":"","influxdbVersion":"1.x"},{"id":"1c38fbb7.3f203c","type":"mqtt-broker","name":"MQTT Server","broker":"10.0.0.2","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"136b4827.f23048","type":"influxdb","hostname":"192.168.1.10","port":"8086","protocol":"http","database":"gameserver","name":"","usetls":false,"tls":"","influxdbVersion":"1.x"},{"id":"eeb221fb.ab27f","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"test","name":"test","usetls":true,"tls":"d50d0c9f.31e858","influxdbVersion":"1.x","url":"http://localhost:8086","rejectUnauthorized":true},{"id":"d50d0c9f.31e858","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":false},{"id":"2ff2a476.a6d2ec","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"test 1.8 flux","usetls":false,"tls":"d50d0c9f.31e858","influxdbVersion":"1.8-flux","url":"https://localhost:8086","rejectUnauthorized":false},{"id":"f38fe119.1bfa3","type":"alexa-home-conf","username":"rem81"},{"id":"6b851733.c19458","type":"api-call-service","z":"8e22460d.5d4bc8","name":"PC Lampe sent bon","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.pc1_lidl"],"data":"{  \"entity_id\": \"switch.pc1_lidl\" }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":500,"y":40,"wires":[[]]},{"id":"46261335.4a1a8c","type":"api-call-service","z":"8e22460d.5d4bc8","name":"LumiereSalon_On","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.lumiere_salon"],"data":"{     \"entity_id\": \"switch.lumiere_salon\"   }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":180,"wires":[[]]},{"id":"718d34f4.9f3efc","type":"api-call-service","z":"8e22460d.5d4bc8","name":"LumiereSalon_Off","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.lumiere_salon"],"data":"{     \"entity_id\": \"switch.lumiere_salon\"   }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":490,"y":240,"wires":[[]]},{"id":"74361e87.c60ef","type":"switch","z":"8e22460d.5d4bc8","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":220,"wires":[["46261335.4a1a8c"],["718d34f4.9f3efc"]]},{"id":"96df52f.32954b","type":"api-call-service","z":"8e22460d.5d4bc8","name":"Sapin_On","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.tc6_bp1"],"data":"{     \"entity_id\": \"switch.tc6_bp1\"   }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":340,"wires":[[]]},{"id":"dcf564c0.ed00d8","type":"api-call-service","z":"8e22460d.5d4bc8","name":"Sapin_Off","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.tc6_bp1"],"data":"{     \"entity_id\": \"switch.tc6_bp1\"   }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":460,"y":400,"wires":[[]]},{"id":"e5b22860.6ff4b8","type":"switch","z":"8e22460d.5d4bc8","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":380,"wires":[["96df52f.32954b"],["dcf564c0.ed00d8"]]},{"id":"2816255d.87259a","type":"switch","z":"8e22460d.5d4bc8","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":80,"wires":[["6b851733.c19458"],["3467d74a.0269c8"]]},{"id":"b5a8d80.7946728","type":"debug","z":"8e22460d.5d4bc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":620,"wires":[]},{"id":"3467d74a.0269c8","type":"api-call-service","z":"8e22460d.5d4bc8","name":"PC Lampe sent bon","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.pc1_lidl"],"data":"{     \"entity_id\": \"switch.pc1_lidl\"   }","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":500,"y":100,"wires":[[]]},{"id":"f412731.839b49","type":"switch","z":"8e22460d.5d4bc8","name":"","property":"command","propertyType":"msg","rules":[{"t":"eq","v":"TurnOnRequest","vt":"str"},{"t":"eq","v":"TurnOffRequest","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":480,"wires":[["118aed92.1cefb2"],["c8c87646.f85928"]]},{"id":"118aed92.1cefb2","type":"api-call-service","z":"8e22460d.5d4bc8","name":"Spots terrasse","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"switch","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.spots_ext_sud"],"data":"{\"entity_id\":\"switch.spots_ext_sud\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":480,"y":460,"wires":[[]]},{"id":"c8c87646.f85928","type":"api-call-service","z":"8e22460d.5d4bc8","name":"Spots terrasse","server":"45bc8be7.a4f0a4","version":5,"debugenabled":true,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.spots_ext_sud"],"data":"{\"entity_id\":\"switch.spots_ext_sud\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":500,"y":580,"wires":[[]]},{"id":"90524345.c9e44","type":"alexa-home","z":"8e22460d.5d4bc8","devicename":"lampe desodorisation","devicetype":"Extended color light","x":120,"y":60,"wires":[["2816255d.87259a"]]},{"id":"b5fc3483.887f48","type":"alexa-home","z":"8e22460d.5d4bc8","devicename":"lumieres salon","x":140,"y":220,"wires":[["74361e87.c60ef"]]},{"id":"c02973f3.1c1e2","type":"alexa-home","z":"8e22460d.5d4bc8","devicename":"sapin","x":110,"y":380,"wires":[["e5b22860.6ff4b8"]]},{"id":"d65c9b7d.be3268","type":"alexa-home","z":"8e22460d.5d4bc8","devicename":"spots terrasse","devicetype":"Color temperature light","x":100,"y":500,"wires":[["f412731.839b49","b5a8d80.7946728"]]},{"id":"70988e524d63cce5","type":"alexa-home-controller","z":"8e22460d.5d4bc8","controllername":"Alexa Controller","port":60000,"maxItems":25,"x":120,"y":120,"wires":[]}]