node-red/node_modules/node-red-node-telegrambot/examples/Api.account.CheckUsername.json
[{"id":"ef6ab74579e1bbb4","type":"function","z":"3d8bc5187eb93fc0","name":"check username","func":"// see https://gram.js.org/tl/account/CheckUsername\n\nlet username = msg.payload;\nmsg.payload = {\n    api: \"account\",\n    func: \"CheckUsername\",\n    args: {\n        username: username\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":640,"wires":[["7f66f74d4da2179d"]]},{"id":"7f66f74d4da2179d","type":"telegram client sender","z":"3d8bc5187eb93fc0","name":"","bot":"b4217d5b3ad6f705","x":660,"y":640,"wires":[["fce968085d0d85fb"]]},{"id":"4edf7f29e51391dc","type":"inject","z":"3d8bc5187eb93fc0","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Hugo","payloadType":"str","x":170,"y":640,"wires":[["ef6ab74579e1bbb4"]]},{"id":"fce968085d0d85fb","type":"debug","z":"3d8bc5187eb93fc0","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":640,"wires":[]},{"id":"b4217d5b3ad6f705","type":"telegram client config","botname":"Username","verboselogging":false}]