node-red/node_modules/node-red-node-telegrambot/examples/Client.sendMessage.json
[{"id":"7f66f74d4da2179d","type":"telegram client sender","z":"3d8bc5187eb93fc0","name":"","bot":"b4217d5b3ad6f705","x":660,"y":520,"wires":[["fce968085d0d85fb"]]},{"id":"fce968085d0d85fb","type":"debug","z":"3d8bc5187eb93fc0","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":520,"wires":[]},{"id":"2ebb4c5feea34fc6","type":"function","z":"3d8bc5187eb93fc0","name":"send message","func":"msg.payload = {\n    // api: '', undefined or empty means that the client is api is called\n    func: 'sendMessage',\n    args: [\n        'me',\n        { message: \"Hello **world!**\" }\n    ]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":520,"wires":[["7f66f74d4da2179d"]]},{"id":"0cc00f7ebb66ea44","type":"inject","z":"3d8bc5187eb93fc0","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":190,"y":520,"wires":[["2ebb4c5feea34fc6"]]},{"id":"b4217d5b3ad6f705","type":"telegram client config","botname":"Martina","verboselogging":true,"loginmode":"user","useproxy":true,"usewss":false,"host":"192.168.178.71","sockstype":"5","port":"1080","username":"","password":"","secret":"d0d6e111bada5511fcce9584deadbeef","mtproxy":false,"timeout":"2"}]