node-red/node_modules/node-red-node-telegrambot/examples/EchoMessage.json
[{"id":"67d7ced4226ddcab","type":"telegram client receiver","z":"3d8bc5187eb93fc0","name":"","bot":"b4217d5b3ad6f705","x":200,"y":460,"wires":[["02cf6e59480bab3a"]]},{"id":"7f66f74d4da2179d","type":"telegram client sender","z":"3d8bc5187eb93fc0","name":"","bot":"b4217d5b3ad6f705","x":640,"y":460,"wires":[["fce968085d0d85fb"]]},{"id":"fce968085d0d85fb","type":"debug","z":"3d8bc5187eb93fc0","name":"debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":830,"y":460,"wires":[]},{"id":"02cf6e59480bab3a","type":"function","z":"3d8bc5187eb93fc0","name":"message echo","func":"// see https://gram.js.org/tl/messages/SendMessage\n\nlet randomId = BigInt(Math.floor(Math.random() * 1e15));\nif(msg.payload.message.className == \"Message\"){\n    msg.payload = {\n        api: 'messages',\n        func: 'SendMessage',\n        args: {\n            peer: msg.payload.chat,\n            message: msg.payload.message.message,\n            randomId: randomId,\n            noWebpage: true,\n            noforwards: true,\n            scheduleDate: 0,\n            // sendAs: \"username\",\n        }\n    }\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":460,"wires":[["7f66f74d4da2179d"]]},{"id":"b4217d5b3ad6f705","type":"telegram client config","botname":"Martina","verboselogging":false}]